.at_tag {
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 2px;
    padding: 2px;
    padding-top: 0px;
    color: #537cbe;
    font-size: 9pt;
}

/*
@ (at)
*/
.at_box {
    border: 3px solid #024d61;
    z-index: 310;

    /* Kept in sync with _post_in_board.css:.post_wrap */
    font-size: 9pt;
    box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    -o-box-shadow: 0px 0px 4px #000;
    -ms-box-shadow: 0px 0px 4px #000;
}

.at_single {
    width: 150px;
    height: 45px;
    padding: 6px;
    background: #FFF;
}

.at_image {
    float: left;
    height: 45px;
    width: 45px;
}

.at_name {
    float: left;
    color: #024d61;
    height: 45px;
    width: 100px;
    padding-left: 5px;
}

.at_single.hover {
    background: #024d61;
}

.at_single.hover .at_name {
    color: #FFF;
}

.at-hint {
    background: #FFF;
    width: 150px;
    padding: 6px;
}
