.post_wrap {
    position: absolute;
    background: whitesmoke;
    font-size: 10pt;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #024d61;

    .mode {
        width: 100%;
        height: 100%;
    }

    .display_mode_post {
        .post_content {
            overflow: hidden;
        }

        .post_quote_mark {
            position: absolute;
            top: 50%;
            left: 0px;
            width: 100%;
            font-family: Helvetica;
            font-size: 80pt;
            opacity: 0.3;
            display: none;

            .quote_1 {
                position: absolute;
                left: 20px;
                top: -50px;
            }

            .quote_2 {
                position: absolute;
                right: 20px;
                top: -20px;
            }
        }
    }

    .comment_mode_post {

        .post_bottom {

            .comment_container {
                width: 100%;
                background: #cfdade;
                padding-top: 3px;

                .comment_list {
                    margin-top: 4px;
                    overflow-y: auto;

                    .comment_container_no_comment {
                        color: #999;
                        padding: 0px 10px;
                    }

                    .comment_container_items {

                        .post_comment {
                            overflow: hidden;
                            margin: 2px 8px;

                            &:first-child {
                                margin-top: 0px;
                            }

                            .upper_container {
                                clear: both;
                                display: table-cell;

                                .comment_name {
                                    float: left;
                                    color: #537cbe;
                                    padding: 0px;
                                    cursor: pointer;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                                .comment_content {
                                    margin: 0px;
                                }

                            }

                            .lower_container {
                                margin-top: -2px;
                                color: #999;
                                font-size: 8pt;
                                display: block;

                                .comment_delete_button {
                                    float: right;
                                    visibility: hidden;
                                    display: none;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            &:hover {
                                .comment_delete_button {
                                    visibility: visible;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .comment_container_bottom {
                    position: absolute;
                    bottom: 0px;
                    padding: 3px 0px;
                    width: 100%;
                    height: 24px;
                }

                .comment_container_input {
                    float: left;
                    margin-top: 2px;
                    margin-left: 8px;
                    padding: 2px 5px;
                    height: 16px;
                    border: none;
                    outline: none;
                    resize: none;
                    background: whitesmoke;
                }

                .comment_list_close_button {
                    position: relative;
                    right: 5px;
                    top: 4px;
                    float: right;
                    cursor: pointer;
                    color: #024d61;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .edit_mode_post {
        .post_title {
            margin-left: -1px;
            margin-top: -2px;
            height: 20px;
            border: none;
            outline: none;
            color: #024d61;
            background: #f5f5f5;
            font-size: 10pt;
        }
        
        .post_wysiwyf_icon_container {
            padding-top: 3px;
            height: 14px;
        }

        .post_content {
        }

        .post_content_placeholder {
            position: absolute;
            text-align: center;
            top: 70px;
            color: #ccc;
            display: none;
        }

        box-shadow: 0px 0px 8px #537cbe;
    }

    .locked_mode_post {
        position: absolute;
        top: 0;
        background: whitesmoke;
        opacity: 0.8;

        .lock_display {
            color: #024d61;
            text-align: center;
            position: relative;
            top: 30px;

            .lock_username {
                cursor: pointer;
                color: #537cbe;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .new_mode_post {
        background: whitesmoke;

        .new_display {
            color: #024d61;
            text-align: center;
            position: relative;
            top: 30px;

            .new_username {
                cursor: pointer;
                color: #537cbe;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .confirm_delete_mode_post {
        position: absolute;
        top: 0;
        background: whitesmoke;
        opacity: 0.8;

        .confirm_display {
            color: #024d61;
            text-align: center;
            position: relative;
            top: 30px;

            .confirm_item {
                cursor: pointer;
                color: #537cbe;
                padding: 0px 5px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .confirm_ok {
            }

            .confirm_cancel {
            }
        }
    }
}

.post_container {
    padding-bottom: 25px; /* 13px for post_bottom and 6px padding for it */
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .post_inner_container {
        padding: 6px 12px;
    }

    .video_post .video_iframe {
        width: 100%;
    }

    .post_top {
        height: 18px;
        color: #024d61;
        font-size: 10pt;
    }

    .post_title_container {
        float: left;
        cursor: pointer;

        .post_no_title {
            font-size: 8pt;
            color: #ccc;
        }

        .post_title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .post_author {
        float: right;
        cursor: pointer;
        color: #537cbe;

        &:hover {
            text-decoration: underline;
        }
    }

    .post_middle_container {
        height: 17px;
        font-size: 8pt;
    }

    .post_like_container {
        color: #537cbe;
    }

    .post_like_count_el {
        float: left;
    }

    .post_like_button {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .post_comment_count {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .post_edit_button {
        float: right;
        color: #aaa;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .post_delete_icon {
        background-image: url("../images/new_delete.png");
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        right: -10px;
        top: -10px;
    }

    .post_bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .comment_preview {
        font-size: 9pt;
        padding: 2px 12px;
        background: #cfdade;
        display: none;
    }

    .comment_preview_no_comment {
        color: #999;
    }

    .comment_preview_display {
        display: table-cell;
    }

    .comment_preview_author {
        float: left;
        cursor: pointer;
        color: #537cbe;

        &:hover {
            text-decoration: underline;
        }
    }

    .comment_preview_middle {
        float: left;
        margin-right: 3px;
    }

    .comment_preview_content {
        float: left;
        color: #024d61;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.text_post {
    .post_gradient_mask {
        position: absolute;
        bottom: 27px;
        height: 40px;
        background: -webkit-linear-gradient(top, rgba(244, 244, 244, 0) 0%, rgba(244, 244, 244, 1) 100%);
    }
}

.picture_post {
    background-position: center;
    background-size: cover;

    /*
    &:hover {
        .post_inner_container {
            opacity: 1;
        }
    }
    */

    .post_inner_container {
        background: rgba(0, 0, 0, 0.5);
        /*
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        */

        .post_title {
            color: whitesmoke !important;
            background: rgba(0, 0, 0, 0);
        }

        .post_author {
            color: whitesmoke !important;
        }

        .post_like_container {
            color: whitesmoke;
        }

        .post_content {
            display: none;
        }
        
        .comment_preview {
            opacity: 0.8;
        }
    }
}

.video_post {
}
