.post_wrap {
  position: absolute;
  background: whitesmoke;
  font-size: 10pt;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px #024d61; }
  .post_wrap .mode {
    width: 100%;
    height: 100%; }
  .post_wrap .display_mode_post .post_edit_button {
    float: right;
    color: #aaa;
    cursor: pointer;
    visibility: hidden; }
    .post_wrap .display_mode_post .post_edit_button:hover {
      text-decoration: underline; }
  .post_wrap .display_mode_post:hover .post_edit_button {
    visibility: visible; }
  .post_wrap .display_mode_post .post_flag_button {
    float: right;
    color: #aaa;
    cursor: pointer;
    visibility: hidden; }
    .post_wrap .display_mode_post .post_flag_button:hover {
      text-decoration: underline; }
  .post_wrap .display_mode_post:hover .post_flag_button {
    visibility: visible; }
  .post_wrap .display_mode_post .post_content {
    overflow: hidden; }
  .post_wrap .display_mode_post .post_quote_mark {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    font-family: Helvetica;
    font-size: 80pt;
    opacity: 0.3;
    display: none; }
    .post_wrap .display_mode_post .post_quote_mark .quote_1 {
      position: absolute;
      left: 20px;
      top: -50px; }
    .post_wrap .display_mode_post .post_quote_mark .quote_2 {
      position: absolute;
      right: 20px;
      top: -20px; }
  .post_wrap .comment_mode_post .post_bottom .comment_container {
    width: 100%;
    background: #cfdade;
    padding-top: 3px; }
    .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list {
      margin-top: 4px;
      overflow-y: auto; }
      .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_no_comment {
        color: #999;
        padding: 0px 10px; }
      .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment {
        position: relative;
        overflow: hidden;
        margin: 2px 8px; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment:first-child {
          margin-top: 0px; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .upper_container {
          clear: both;
          display: table-cell; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .upper_container .comment_name {
            float: left;
            color: #537cbe;
            padding: 0px;
            cursor: pointer;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .upper_container .comment_name:hover {
              text-decoration: underline; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .upper_container .comment_content {
            margin: 0px; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container {
          margin-top: -2px;
          color: #888;
          font-size: 8pt;
          display: block; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_like_container .comment_like_button {
            cursor: pointer; }
            .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_like_container .comment_like_button:hover {
              text-decoration: underline; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_delete_button {
            float: right;
            visibility: hidden;
            display: none;
            cursor: pointer; }
            .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_delete_button:hover {
              text-decoration: underline; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_flag_button {
            float: right;
            visibility: hidden;
            display: none; }
            .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container .lower_container .comment_flag_button:hover {
              text-decoration: underline; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container:hover .comment_delete_button {
          visibility: visible; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .comment_inner_container:hover .comment_flag_button {
          visibility: visible; }
        .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .confirm_delete_container {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          background: #cfdade;
          color: #024d61;
          font-size: 8pt;
          text-align: center;
          display: none; }
          .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .confirm_delete_container .confirm_delete_inner_container {
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin-left: -37px; }
            .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .confirm_delete_container .confirm_delete_inner_container .option {
              color: #537cbe;
              cursor: pointer; }
              .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list .comment_container_items .post_comment .confirm_delete_container .confirm_delete_inner_container .option:hover {
                text-decoration: underline; }
    .post_wrap .comment_mode_post .post_bottom .comment_container .comment_container_bottom {
      position: absolute;
      bottom: 0px;
      padding: 3px 0px;
      width: 100%;
      height: 24px; }
    .post_wrap .comment_mode_post .post_bottom .comment_container .comment_container_input {
      float: left;
      margin-top: 1px;
      margin-left: 8px;
      padding: 2px 5px;
      height: 18px;
      outline: none;
      resize: none;
      background: whitesmoke;
      white-space: nowrap;
      overflow: hidden; }
    .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list_close_button {
      position: relative;
      right: 5px;
      top: 4px;
      float: right;
      cursor: pointer;
      color: #024d61; }
      .post_wrap .comment_mode_post .post_bottom .comment_container .comment_list_close_button:hover {
        text-decoration: underline; }
  .post_wrap .edit_mode_post {
    box-shadow: 0px 0px 8px #537cbe; }
    .post_wrap .edit_mode_post .post_title {
      margin-left: -1px;
      margin-top: -2px;
      height: 20px;
      border: none;
      outline: none;
      color: #024d61;
      background: #f5f5f5;
      font-size: 10pt; }
    .post_wrap .edit_mode_post .post_wysiwyf_icon_container {
      padding-top: 3px;
      height: 14px; }
    .post_wrap .edit_mode_post .post_content {
      overflow: hidden; }
    .post_wrap .edit_mode_post .post_content_length_display {
      display: none;
      color: #fe7a15;
      text-align: center; }
    .post_wrap .edit_mode_post .post_content_placeholder {
      position: absolute;
      text-align: center;
      top: 70px;
      color: #ccc;
      display: none; }
  .post_wrap .locked_mode_post {
    position: absolute;
    top: 0;
    background: whitesmoke;
    opacity: 0.8; }
    .post_wrap .locked_mode_post .lock_display {
      color: #024d61;
      text-align: center;
      position: relative;
      top: 30px;
      font-size: 13pt; }
      .post_wrap .locked_mode_post .lock_display .lock_username {
        cursor: pointer;
        color: #537cbe; }
        .post_wrap .locked_mode_post .lock_display .lock_username:hover {
          text-decoration: underline; }
  .post_wrap .new_mode_post {
    background: whitesmoke; }
    .post_wrap .new_mode_post .new_display {
      color: #024d61;
      text-align: center;
      position: relative;
      top: 30px;
      font-size: 13pt; }
      .post_wrap .new_mode_post .new_display .new_username {
        cursor: pointer;
        color: #537cbe; }
        .post_wrap .new_mode_post .new_display .new_username:hover {
          text-decoration: underline; }
  .post_wrap .confirm_delete_mode_post {
    position: absolute;
    top: 0;
    background: whitesmoke;
    opacity: 0.8; }
    .post_wrap .confirm_delete_mode_post .confirm_display {
      color: #024d61;
      text-align: center;
      position: relative;
      top: 30px;
      font-size: 13pt; }
      .post_wrap .confirm_delete_mode_post .confirm_display .confirm_item {
        cursor: pointer;
        color: #537cbe;
        padding: 0px 5px; }
        .post_wrap .confirm_delete_mode_post .confirm_display .confirm_item:hover {
          text-decoration: underline; }

.post_container {
  padding-bottom: 25px;
  /* 13px for post_bottom and 6px padding for it */
  height: 100%;
  box-sizing: border-box;
  overflow: visible; }
  .post_container .post_inner_container {
    padding: 6px 12px; }
  .post_container .video_post .video_iframe {
    width: 100%; }
  .post_container .post_top {
    height: 18px;
    color: #024d61;
    font-size: 10pt; }
  .post_container .post_title_container {
    float: left;
    cursor: pointer; }
    .post_container .post_title_container .post_no_title {
      font-size: 8pt;
      color: #ccc; }
    .post_container .post_title_container .post_title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .post_container .post_title_container .post_title:hover {
        text-decoration: underline; }
  .post_container .post_author {
    float: right;
    cursor: pointer;
    color: #537cbe;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .post_container .post_author:hover {
      text-decoration: underline; }
  .post_container .post_middle_container {
    height: 18px;
    font-size: 8pt; }
  .post_container .post_like_container {
    float: left;
    color: #537cbe; }
  .post_container .post_like_count_el {
    float: left; }
  .post_container .post_like_button {
    cursor: pointer; }
    .post_container .post_like_button:hover {
      text-decoration: underline; }
  .post_container .post_comment_count {
    cursor: pointer; }
    .post_container .post_comment_count:hover {
      text-decoration: underline; }
  .post_container .post_delete_icon {
    background-image: url("../images/new_delete.png");
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: -10px;
    top: -10px; }
  .post_container .post_bottom {
    position: absolute;
    width: 100%;
    bottom: 0; }
  .post_container .comment_preview {
    font-size: 9pt;
    padding: 2px 12px;
    background: #cfdade;
    display: none;
    cursor: pointer; }
  .post_container .comment_preview_no_comment {
    color: #999; }
  .post_container .comment_preview_display {
    display: table-cell; }
  .post_container .comment_preview_author {
    float: left;
    cursor: pointer;
    color: #537cbe;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .post_container .comment_preview_author:hover {
      text-decoration: underline; }
  .post_container .comment_preview_middle {
    float: left;
    margin-right: 3px; }
  .post_container .comment_preview_content {
    float: left;
    color: #024d61;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.text_post .post_gradient_mask {
  position: absolute;
  bottom: 27px;
  height: 40px;
  background: -webkit-linear-gradient(top, rgba(244, 244, 244, 0) 0%, #f4f4f4 100%); }

.picture_post {
  background-position: center;
  background-size: cover;
  /*
  &:hover {
      .post_inner_container {
          opacity: 1;
      }
  }
  */ }
  .picture_post .post_inner_container {
    background: rgba(0, 0, 0, 0.5); }
    .picture_post .post_inner_container .post_title {
      color: whitesmoke !important;
      background: rgba(0, 0, 0, 0); }
    .picture_post .post_inner_container .post_author {
      color: whitesmoke !important; }
    .picture_post .post_inner_container .post_like_container {
      color: whitesmoke; }
    .picture_post .post_inner_container .post_content {
      display: none; }
    .picture_post .post_inner_container .comment_preview {
      opacity: 0.8; }
