html, body {
  margin: 0;
  padding: 50px;
  font-size: 10pt; }

.profile-preview {
  font-family: RobotoRegular; }
  .profile-preview .image-container .left-fold {
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
    width: 30px;
    height: 100px; }
    .profile-preview .image-container .left-fold .back-page {
      position: absolute;
      width: inherit;
      height: inherit;
      background: #024d61;
      box-shadow: 0px 0px 8px #024d61; }
    .profile-preview .image-container .left-fold .front-page {
      position: absolute;
      width: 50px;
      height: inherit;
      margin-top: 9px;
      background: #024d61;
      z-index: 2;
      -webkit-transform: skewY(20deg);
      box-shadow: 0px 0px 6px black; }
  .profile-preview .image-container .picture {
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 10px;
    border: 5px #024d61 solid;
    box-shadow: 0px 0px 8px #024d61; }
    .profile-preview .image-container .picture img {
      width: inherit;
      height: inherit;
      -webkit-border-radius: 5px; }
    .profile-preview .image-container .picture .edit {
      position: absolute;
      width: 100%;
      background: black;
      bottom: 0;
      color: white;
      opacity: 0;
      text-align: center;
      padding: 5px 0px;
      cursor: pointer;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-transition: opacity 0.3s; }
      .profile-preview .image-container .picture .edit:hover {
        text-decoration: underline; }
    .profile-preview .image-container .picture:hover .edit {
      opacity: 0.7; }
  .profile-preview .info-container {
    width: 500px;
    position: relative;
    left: 210px;
    top: -210px; }
    .profile-preview .info-container .exit-button {
      position: relative;
      left: 490px;
      top: 10px;
      width: 20px;
      height: 20px;
      z-index: 2;
      cursor: pointer;
      background: black;
      -webkit-border-radius: 10px;
      box-shadow: 0px 0px 6px #024d61;
      -webkit-transition: box-shadow 0.5s; }
      .profile-preview .info-container .exit-button .x {
        position: relative;
        left: 7px;
        color: white; }
      .profile-preview .info-container .exit-button:hover {
        box-shadow: 0px 0px 15px #024d61; }
    .profile-preview .info-container .top {
      position: relative;
      z-index: 1;
      padding: 20px;
      background: #024d61;
      color: #ececec;
      box-shadow: 0px 0px 8px #024d61; }
      .profile-preview .info-container .top .name {
        font-family: Oxygen;
        font-size: 13pt; }
      .profile-preview .info-container .top .signiture {
        margin-top: 15px; }
        .profile-preview .info-container .top .signiture .edit {
          margin-left: 10px;
          color: #999999;
          cursor: pointer;
          visibility: hidden; }
          .profile-preview .info-container .top .signiture .edit:hover {
            text-decoration: underline; }
        .profile-preview .info-container .top .signiture:hover .edit {
          visibility: visible; }
    .profile-preview .info-container .bottom {
      position: relative;
      z-index: 0;
      width: 440px;
      margin-left: 10px;
      padding: 20px;
      padding-bottom: 30px;
      background: #bacfd5;
      -webkit-border-bottom-left-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      box-shadow: 0px 0px 8px #bacfd5; }
      .profile-preview .info-container .bottom .item-container .item {
        margin-top: 6px;
        display: table; }
        .profile-preview .info-container .bottom .item-container .item .icon {
          float: left;
          width: 15px;
          height: 12px; }
          .profile-preview .info-container .bottom .item-container .item .icon img {
            width: inherit;
            height: inherit; }
        .profile-preview .info-container .bottom .item-container .item .text {
          float: left;
          margin-left: 10px; }
          .profile-preview .info-container .bottom .item-container .item .text .highlight {
            color: #024d61;
            cursor: pointer; }
          .profile-preview .info-container .bottom .item-container .item .text .highlight:hover {
            text-decoration: underline; }
        .profile-preview .info-container .bottom .item-container .item .edit {
          float: left;
          margin-left: 20px;
          color: #999999;
          cursor: pointer;
          visibility: hidden; }
          .profile-preview .info-container .bottom .item-container .item .edit:hover {
            text-decoration: underline; }
        .profile-preview .info-container .bottom .item-container .item:hover .edit {
          visibility: visible; }
      .profile-preview .info-container .bottom .self-intro {
        margin-left: 24px;
        margin-top: 15px;
        margin-right: 20px; }
