.profile-preview {
  position: relative;
  font-family: RobotoRegular;
  font-size: 10pt;
  display: table-cell;
  z-index: 300;
  margin-left: 50%; }
  .profile-preview .image-container {
    float: left;
    margin-top: -140px; }
    .profile-preview .image-container .left-fold {
      position: relative;
      top: 18px;
      margin-left: -30px;
      margin-top: 20px;
      width: 30px;
      height: 100px; }
      .profile-preview .image-container .left-fold .back-page {
        position: relative;
        top: 100px;
        width: inherit;
        height: inherit;
        background: #024d61;
        box-shadow: 0px 0px 8px #024d61; }
      .profile-preview .image-container .left-fold .front-page {
        position: relative;
        width: 50px;
        height: inherit;
        margin-top: 9px;
        background: #024d61;
        z-index: 310;
        -webkit-transform: skewY(20deg);
        box-shadow: 0px 0px 6px black; }
    .profile-preview .image-container .picture {
      position: relative;
      width: 200px;
      height: 200px;
      -webkit-border-radius: 10px;
      border: 5px #024d61 solid;
      box-shadow: 0px 0px 8px #024d61; }
      .profile-preview .image-container .picture img {
        width: inherit;
        height: inherit;
        -webkit-border-radius: 5px; }
      .profile-preview .image-container .picture .edit {
        position: absolute;
        width: 100%;
        background: black;
        bottom: 0;
        color: white;
        opacity: 0;
        text-align: center;
        padding: 5px 0px;
        cursor: pointer;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-transition: opacity 0.3s; }
        .profile-preview .image-container .picture .edit:hover {
          text-decoration: underline; }
      .profile-preview .image-container .picture:hover .edit {
        opacity: 0.7; }
  .profile-preview .info-container {
    width: 500px;
    position: relative;
    float: left; }
    .profile-preview .info-container .top {
      position: relative;
      z-index: 310;
      padding: 20px;
      background: #024d61;
      color: #ececec;
      box-shadow: 0px 0px 8px #024d61; }
      .profile-preview .info-container .top .name {
        font-family: Oxygen;
        font-size: 13pt; }
      .profile-preview .info-container .top .signiture {
        margin-top: 15px; }
        .profile-preview .info-container .top .signiture textarea {
          border: none;
          outline: none;
          resize: none;
          width: 100%;
          height: 40px; }
        .profile-preview .info-container .top .signiture .edit {
          margin-left: 10px;
          color: #999999;
          cursor: pointer;
          visibility: hidden; }
          .profile-preview .info-container .top .signiture .edit:hover {
            text-decoration: underline; }
        .profile-preview .info-container .top .signiture:hover .edit {
          visibility: visible; }
    .profile-preview .info-container .bottom {
      position: relative;
      z-index: 300;
      width: 440px;
      margin-left: 10px;
      padding: 20px;
      padding-bottom: 30px;
      background: #bacfd5;
      -webkit-border-bottom-left-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      box-shadow: 0px 0px 8px #bacfd5; }
      .profile-preview .info-container .bottom .item-container .item {
        margin-top: 6px;
        display: table; }
        .profile-preview .info-container .bottom .item-container .item .icon {
          float: left;
          width: 15px;
          height: 12px; }
          .profile-preview .info-container .bottom .item-container .item .icon img {
            width: inherit;
            height: inherit; }
        .profile-preview .info-container .bottom .item-container .item .text {
          float: left;
          margin-left: 10px; }
          .profile-preview .info-container .bottom .item-container .item .text .data {
            color: #024d61;
            cursor: pointer; }
            .profile-preview .info-container .bottom .item-container .item .text .data input {
              border: none;
              outline: none; }
          .profile-preview .info-container .bottom .item-container .item .text .data:hover {
            text-decoration: underline; }
        .profile-preview .info-container .bottom .item-container .item .edit {
          float: left;
          margin-left: 20px;
          color: #999999;
          cursor: pointer;
          visibility: hidden; }
          .profile-preview .info-container .bottom .item-container .item .edit:hover {
            text-decoration: underline; }
        .profile-preview .info-container .bottom .item-container .item:hover .edit {
          visibility: visible; }
      .profile-preview .info-container .bottom .self-intro {
        margin-left: 24px;
        margin-top: 15px;
        margin-right: 20px; }
        .profile-preview .info-container .bottom .self-intro textarea {
          border: none;
          outline: none;
          resize: none;
          width: 100%;
          height: 80px; }
        .profile-preview .info-container .bottom .self-intro .edit {
          margin-left: 20px;
          color: #999999;
          cursor: pointer;
          visibility: hidden; }
          .profile-preview .info-container .bottom .self-intro .edit:hover {
            text-decoration: underline; }
        .profile-preview .info-container .bottom .self-intro:hover .edit {
          visibility: visible; }
