$main-color: #024d61;


.anonymous_login_permittion {
	width: 810px;
	height: 160px;
	background: #f5f5f5;

	.left_information {
		float: left;
		margin-left: 10px;
		width: 540px;
		height: 100%;
		.question_header {
			font-size: 14px;
			height: 26px;
			background: $main-color;
			color: #fff;
			margin-left: 40px;
			padding-left: 10px;
			padding-top: 10px;
			width: 500px;
		}
		.question_body {

			.or_vert {
				background: #555;
				width: 50px;
				height: 200px;
				float: left;
			}

			.question_options {
				margin-top: 10px;
				.question {
					height: 100px;
					width: 550px;
					.question_iconwrapper{
						margin-left: 40px;
						width:100px;
						height:100px;
						float: left;
						background: $main-color;
						position: relative;

						img {
							position: absolute;
    						margin: auto;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						}
					}

					.question_content {
						float: left;
						margin-left: 20px;
						width: 390px;
						height: 100px;
						.question_title {
							margin-top: 5px;
							font-size: 20px;
							color: $main-color;
						}
						input {
							margin-top: 35px;
							width: 280px;
							font-size: 15px;
							border: none;
							outline: none;
							background: transparent;
							border-bottom: 1px solid $main-color;
						}

						.submit_button {
							margin-left: 30px;
							padding: 5px 10px;
							display: inline-block;
							background: $main-color;
							color: #fff;
						}
					}
				}
			}	
		}
	}

}