/* layout */

$main-color:    #024d61;
$second-color:  #ccc;
$third-color:	#aaa;
$fourth-color:  #bbb; 


body {
	margin: 0px;
	padding: 0px;
	font-family: OxygenLight;

}

#board_more {
	position: fixed;
	right: 0px;
	width: 40px;
	height: 100%;
	background-color: $second-color;

	.more_icon {
		height: 30px;
		padding: 0px;
		margin: 8px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 14px;
	}

	#board_switch {
		background: url(../images/board_list.png) no-repeat;
	}
	#place {
		margin-left: 15px;
		background: url(../images/board_place.png) no-repeat;
	}
	#star {
		margin-left: 13px;
		background: url(../images/board_star.png) no-repeat;
	}
}

#other_boards {
	margin-top: 35px;
	width: 240px;
	position: fixed;
	right: 45px;
	background-color: $third-color;
	box-shadow: 3px 3px 20px 1px #888888;

	.other_header {
		background-color: $main-color;
		height: 40px;
		color: #fff;
		h3 {
			font-size: 14px;
			float: left;
			margin: 10px;
			margin-left: 14px;
		}
		p {
			float: right;
			margin-top: 14px;
			margin-right: 15px;
			font-size: 10px;
			cursor: pointer;

			&:hover {
				color: #FF8C00;
			}
		}

		#arrow_right {
			border-top: 10px solid transparent;
    		border-bottom: 10px solid transparent;
    		border-left: 10px solid $main-color;
    		position: absolute;
    		left: 240px;
    		top: 10px;
		}
	}

	#board_list {
		.up_roll {
			height: 10px;
			background-color: $second-color;
			cursor: pointer;

			&:hover {
				background-color: #fff;
			}

			.list_prev {
				position: absolute;
				left: 115px;
				top: 43px;
				width: 0px;
				height: 0px;
    			border-left: 5px solid transparent;	
    			border-right: 5px solid transparent;	
    			border-bottom: 5px solid $main-color;
			}
		}
		.down_roll {
			height: 10px;
			background-color: $second-color;
			cursor: pointer;

			&:hover {
				background-color: #fff;
			}

			.list_next {
				position: absolute;
				left: 115px;
				bottom: 3px;
				width: 0px;
				height: 0px;
    			border-left: 5px solid transparent;	
    			border-right: 5px solid transparent;	
				border-top: 5px solid $main-color;
			}
		}

		.listed_board {
			padding-top: 10px;
			padding-bottom: 10px;
			height: 50px;
			cursor: pointer;
			border-top: 1px solid $main-color;
			border-bottom: 1px solid $main-color;

			h3.board_title {
				font-size: 14px;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 14px;
				color: $main-color;
			}

			p.board_discription {
				margin-left: 14px;
				margin-top:3px;
				font-size: 10px;
				width:200px;
			}

			.selected_icon {
				opacity: 0;
				position: absolute;
				right: 10px;
				top: 25px;
				width:20px;
				height:20px;
				background: url(../images/featured_board.png) no-repeat;
			}

			&:hover {
				background: $main-color;
				color: $third-color;
				position: relative;

				h3.board_title {
					font-size: 14px;
					margin-bottom: 0px;
					margin-left: 14px;
					color: #fff !important;
				}

				.selected_icon {
					opacity: 1;

				}
			}

		}

		.selected_board {
			background: $main-color;
			color: $third-color;
			position: relative;
			h3.board_title {
				font-size: 14px;
				margin-bottom: 0px;
				margin-left: 14px;
				color: #fff !important;
			}
			.selected_icon {
				position: absolute;
				right: 10px;
				top: 25px;
				width:20px;
				height:20px;
				background: url(../images/featured_board.png) no-repeat;
			}
		}
	}

}
