html, body, #wrapper {
	padding: 0;
	margin: 0;
	border: 0 none;
}

* {
    outline: none !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}

/*
For popup.
MIC: postile.view
*/

.pop_mask {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.75) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
	width: 100%;
	height: 100%;
	display: table;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* to be changed by JS */
}

.pop_popup {
	display: table-cell; vertical-align: middle; margin: 0;
    z-index: 400;
}

.pop_container {
    margin: 0 auto;
}

/*
For toast.
MIC: postile.toast
*/

.toast_container {
    width: 100%;
    top: 10px;
    z-index: 600;
    position: absolute;
}

.toast_line {
    display: block;
    width: 100%;
    text-align: center;
    height: 24px;
    padding-bottom: 6px;
}

.toast_instance  {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 4px 15px;
    height: 16px;
    line-height: 16px;
    font-size: 15px;
}

.toast_red {
    border-color: #C33;
    background: #FCC;
}

.toast_yellow {
    border-color: #993;
    background: #FF9;
}

.toast_instance span {
    text-decoration: underline;
}

.busy {
    background-image: url(/images/spinner.svg);
    width: 50%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 25%;
    top: 25%;
    background-position: center;
}

.busy_wrap {
    position: absolute;
    top: 0px;
    height: 0px;
    width: 100%;
    height: 100%;
    z-index: 600;
}

.half_opaque {
    opacity: 0.5;
}
