.confirm_delete {
  font-family: Oxygen;
  width: 200px;
  height: 68px;
  background: #d4dcde; }
  .confirm_delete .confirm_delete_title {
    width: 200px;
    height: 22px;
    background: #024d61;
    color: #fff; }
    .confirm_delete .confirm_delete_title p {
      font-size: 14px;
      padding-top: 3px;
      margin-left: 10px; }
  .confirm_delete .confirm_delete_main p {
    padding: 0px;
    margin: 3px;
    margin-left: 10px;
    font-size: 12px; }
  .confirm_delete .confirm_delete_main div {
    margin-top: 5px;
    width: 46px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    float: right; }
  .confirm_delete .confirm_delete_main .bt_confirm_delete {
    background: #024d61;
    color: #fff; }
    .confirm_delete .confirm_delete_main .bt_confirm_delete p {
      margin: 1px;
      margin-left: 8px;
      font-size: 11px; }
  .confirm_delete .confirm_delete_main .bt_cancel_delete {
    background: #aaa; }
    .confirm_delete .confirm_delete_main .bt_cancel_delete p {
      margin: 1px;
      margin-left: 7px;
      font-size: 11px; }
  .confirm_delete .confirm_delete_arror_down {
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    border-top: 13px solid #d4dcde;
    position: absolute;
    top: 74px;
    left: 80px; }
