#create_helper_wrapper {
	background: #024d61;
	width: 83px;
	height: 120px;
	/* margin-left: -33px; */
	position: absolute;
	top: 80px;
	left: 0px;
	z-index: 500;

	-webkit-transition: margin-left 0.2s;
	-moz-transition: margin-left 0.2s;
	transition: margin-left 0.2s;
}

/*
#create_helper_wrapper:hover {
	margin-left: 0px;
}
*/

#create_helper_wrapper .create_helper_pop{
	float: left;
}

#create_helper_wrapper  .create_post_button {
    width: 40px;
    height: 40px;
	cursor: pointer;
}

#create_helper_wrapper .text_post:hover {
    background: #F9CF3A;
}

#create_helper_wrapper .picture_post:hover {
    background: #FD5E21;
}

#create_helper_wrapper .video_post:hover {
    background: #299B26;
}

#create_helper_wrapper .text_post img {
    margin-top: 11px;
    margin-left: 11px;
}

#create_helper_wrapper  .picture_post img {
    margin-top: 12px;
    margin-left: 9px;
}

#create_helper_wrapper  .video_post img {
    margin-top: 11px;
    margin-left: 10px;
}

#create_helper_wrapper .create_helper_button {
	position: relative;
    width: 90px;
	top: -68px;
	right: -21px;
	color: whitesmoke;
	float: right;
	cursor: default;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

#create_helper_wrapper .pop_tip {
    position: relative;
    left: 40px;
    top: -23px;
    z-index: 102;
    display: none;
}

#create_helper_wrapper .pop_tip .tip_arrow {
    position: absolute;
    left: -8px;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid black;
    border-bottom: 6px solid transparent;
}

#create_helper_wrapper .pop_tip .tip_text {
    position: absolute;
    white-space: nowrap;
    padding: 2px 5px;
    background: black;
    color: whitesmoke;
    font-size: 10pt;
}

#create_helper_wrapper .create_post_button:hover .pop_tip {
    display: table-cell;
}
