#inline_login {
  background: #d4dcde;
  position: absolute !important;
  top: 46px !important;
  left: -90px !important;
  background: #d4dcde;
  color: #024d61; }
  #inline_login .arrow_up {
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #d4dcde;
    position: absolute;
    top: -12px;
    left: 102px; }
  #inline_login .arrow_up_back {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f5f5f5;
    position: absolute;
    top: -15px;
    left: 100px; }
    #inline_login .inline_login_input {

    }
    #inline_login .inline_login_input input {
      margin: 6px 10px 0 10px;
      font-size: 11pt;
      padding: 4px 6px;
      clear: both;
      border: 0 none;
      width: 200px; }
    #inline_login .inline_login_input .hint {
      margin-left: 10px;
      margin-top: 10px;
      font-size: 11pt;
    }
    #inline_login .inline_login_input .inline_login_submit {
      color: #fff;
      background: #024d61;
      display: block;
      font-size: 11pt;
      padding: 5px 0;
      text-align: center;
      width: 85px;
      margin: 0 auto;
      margin-top: 12px;
      margin-bottom: 10px;
      cursor: pointer; }
    #inline_login .inline_login_input .incorrect {
      padding: 10px 10px 0 10px;
      font-size: 10pt;
      color: #333;
      display: none; }
