$main-color: #024d61;
$second-color: #D4DCDE;

#inline_login{
	width: 230px;
	background: $second-color;
	position: fixed !important;
	top: 46px !important;
	right: 60px !important;
	left: auto !important;
	background: $second-color;
	color: $main-color;

	.arrow_up {
		width: 0px;
		height: 0px;
		border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid $main-color;
        position: absolute;
        top: -12px;
        left: 102px;
	}
	.arrow_up_back {
		width: 0px;
		height: 0px;
		border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #f5f5f5;
        position: absolute;
        top: -15px;
        left: 100px;
	}

	.login_word {
		padding: 10px;
		color: #fff;
		background:$main-color;
	}

	.inline_login_input {
		clear: both;
		margin-left: 10px;
		margin-top: 5px;

		input {
			margin: 7px 0;
			font-size: 14px;
			clear:both;
			width: 200px;
		}

		.inline_login_submit {
			color: #fff;
			background: $main-color;
			padding: 2px 5px;
			margin-top: 5px;
			margin-bottom: 10px;
			display: inline-block;
			cursor: pointer;
		}

		.incorrect {
			padding-bottom:10px;
			display: none;
		}
	}
}
