#inline_login {
  width: 230px;
  background: #d4dcde;
  position: fixed !important;
  top: 46px !important;
  right: 60px !important;
  left: auto !important;
  color: #024d61; }
  #inline_login .arrow_up {
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #024d61;
    position: absolute;
    top: -12px;
    left: 102px; }
  #inline_login .arrow_up_back {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f5f5f5;
    position: absolute;
    top: -15px;
    left: 100px; }
  #inline_login .login_word {
    padding: 10px;
    color: #fff;
    background: #024d61; }
  #inline_login .inline_login_input {
    clear: both;
    margin-left: 10px;
    margin-top: 5px; }
    #inline_login .inline_login_input input {
      margin: 7px 0;
      font-size: 14px;
      clear: both;
      width: 200px; }
    #inline_login .inline_login_input .inline_login_submit {
      color: #fff;
      background: #024d61;
      padding: 2px 5px;
      margin-top: 5px;
      margin-bottom: 10px;
      display: inline-block;
      cursor: pointer; }
    #inline_login .inline_login_input .incorrect {
      padding-bottom: 10px;
      display: none; }
