.new_board {
    width: 500px;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 2px 7px #000;
}

.new_board .header {
    height: 48px;
    line-height: 48px;
    font-size: 16pt;
    color: #FFF;
    background: #024d61;
    padding-left: 28px;
}

.new_board .content {
    padding: 15px 28px;
}

.new_board p {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    margin-top: 15px;
    line-height: 14px;
    height: 14px;
}

.new_board input {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    padding: 6px 8px;
    box-sizing: border-box;
    font-size: 12pt;
    line-height: 14px;
    height: 26px;
    width: 320px;
    margin-top: 10px;
}

.new_board input:focus {
    background: rgba(255, 255, 255, 0.8);
}

.new_board a {
    display: block;
    margin: 0 auto;
    padding: 8px 12px;
    background: linear-gradient(left, rgba(2,77,97,0) 0%,rgba(2,77,97,1) 50%,rgba(2,77,97,0) 100%);
    background: -moz-linear-gradient(left, rgba(2,77,97,0) 0%,rgba(2,77,97,1) 50%,rgba(2,77,97,0) 100%);
    background: -o-linear-gradient(left, rgba(2,77,97,0) 0%,rgba(2,77,97,1) 50%,rgba(2,77,97,0) 100%);
    background: -ms-linear-gradient(left, rgba(2,77,97,0) 0%,rgba(2,77,97,1) 50%,rgba(2,77,97,0) 100%);
    background: -webkit-linear-gradient(left, rgba(2,77,97,0) 0%,rgba(2,77,97,1) 50%,rgba(2,77,97,0) 100%);
    color: #F3F3F3;
    height: 18px;
    line-height: 18px;
    font-size: 13pt;
    margin-top: 15px;
    text-align: center;
}