$background-color: #f2f7f7;
$main-color: #024d61;
$light-main: #436b77;
$grey:#9e9e9e;

#onlinepeople_container {
    z-index:-1;
    width:300px;
    line-height:100%;
    position:fix !important;
    background:$background-color;
    box-shadow: -1.5px 0px 3px 1px #888888;
    p {
        margin: 0px;
        padding: 0px;
    }
    #online_people_list {
        .item_container{
            height:50px;
        }
        position:relative;
        img.onlinepeople_profile{
            float: left;
            width:40px;
            height:40px;
            margin:5px;
            background:$main-color;
        }
        .title{
            padding:10px;
            padding-left:15px;
            p.name {
                font-size:13px;
                color:#000;
            }
            p.activity{
                font-size:10px;
                color:$grey;
            }
        }

    }
    #online_people_bar{
        background: $light-main;
        height:20px;
        color:#FFF;
        cursor: pointer;
        p{
            font-size: 12px;
            float: left;
            margin: -0.5px;
            padding: 0px;
            padding-left: 60px;
            margin-left: 15px;
        }
    }
}
