#onlinepeople_container {
  z-index: -1;
  width: 300px;
  line-height: 100%;
  position: fix !important;
  background: #f2f7f7;
  box-shadow: -1.5px 0px 3px 1px #888888; }
  #onlinepeople_container p {
    margin: 0px;
    padding: 0px; }
  #onlinepeople_container #online_people_list {
    height: 50px;
    position: relative; }
    #onlinepeople_container #online_people_list img.onlinepeople_profile {
      float: left;
      width: 40px;
      height: 40px;
      margin: 5px;
      background: #024d61; }
    #onlinepeople_container #online_people_list .title {
      padding: 10px;
      padding-left: 15px; }
      #onlinepeople_container #online_people_list .title p.name {
        font-size: 13px;
        color: #000; }
      #onlinepeople_container #online_people_list .title p.activity {
        font-size: 10px;
        color: #9e9e9e; }
  #onlinepeople_container #online_people_bar {
    background: #436b77;
    height: 15px;
    color: #FFF; }
    #onlinepeople_container #online_people_bar p {
      font-size: 12px;
      float: left;
      margin: -0.5px;
      padding: 0px;
      padding-left: 60px;
      margin-left: 15px; }
