.post {
	display: none; /*to be triggered by js*/
	position: absolute;
	padding: 8px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	z-index: 0;
}
.canvas_viewport {
	overflow: hidden;
	position: relative;
}
.canvas {
	width: 3872px;
	height: 2592px;
	background-image: url(moc.jpg);
	position: absolute;
    display: none;
}
.edit_btn {
    position: absolute;
    right: -16px;
    top: -8px;
    height: 16px;
    width: 32px;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
    background: #666;
    color: #FFF;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*Mask*/

.canvas_mask {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: none; /*to be triggered by js*/
}
.mask_notice {
	margin-top: 5%;
	text-align: center;
	height: 88px;
	font-size: 32px;
	line-height: 44px;
	color: white;
	font-weight: bold;
	z-index: 0;
}
.post_preview {
	position: absolute;
	opacity: 0.6;
	padding: 5px;
	border: 3px dashed #FFF;
	border-radius: 4px;
	z-index: 1;
    display: none;
}
.post_preview_origin_spot {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 8px;
	background-color: #FFF;
	z-index: 2;
}

/*Arrow*/

.right_clicker {
    width: 106px;
    height: 106px;
    background: url(right.png);
    display: none;
    position: absolute;
}

.arrow_detect { position: absolute; background-repeat: no-repeat; }

.arrow_detect.up, .arrow_detect.down {
    width: 100%;
    height: 50px;
}

.arrow_detect.left, .arrow_detect.right {
    height: 100%;
    width: 50px;
}

.arrow_detect.up, .arrow_detect.down .arrow_button {
    top: 0;
}

.arrow_detect.down, .arrow_detect.up .arrow_button  {
    bottom: 0;
}

.arrow_detect.left, .arrow_detect.right .arrow_button {
    left: 0;
}

.arrow_detect.right, .arrow_detect.left .arrow_button  {
    right: 0;
}

.arrow_covering {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.arrow_detect .arrow_button {
    overflow: hidden; position: absolute; display: none;
}

.arrow_detect .arrow_button div { position: absolute; }

.arrow_detect.up .arrow_button, .arrow_detect.down .arrow_button, .arrow_detect.up .arrow_button div, .arrow_detect.down .arrow_button div {
    width: 120px; height: 40px;
}

.arrow_detect.left .arrow_button, .arrow_detect.right .arrow_button, .arrow_detect.left .arrow_button div, .arrow_detect.right .arrow_button div {
    width: 40px; height: 120px;
}

.arrow_detect.up .arrow_button {
    background: url(arrow_sm_up.png);
}

.arrow_detect.up .arrow_button div {
    background: url(arrow_sm_up_hover.png);
}

.arrow_detect.down .arrow_button {
    background: url(arrow_sm_down.png);
}

.arrow_detect.down .arrow_button div {
    background: url(arrow_sm_down_hover.png);
}

.arrow_detect.left .arrow_button {
    background: url(arrow_sm_left.png);
}

.arrow_detect.left .arrow_button div {
    background: url(arrow_sm_left_hover.png);
}

.arrow_detect.right .arrow_button {
    background: url(arrow_sm_right.png);
}

.arrow_detect.right .arrow_button div {
    background: url(arrow_sm_right_hover.png);
}