.post {
	display: none; /*to be triggered by js*/
	position: absolute;
	padding: 8px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	z-index: 0;
}
.canvas_viewport {
	overflow: hidden;
	position: relative;
}
.canvas {
	width: 3872px;
	height: 2592px;
	background-image: url(moc.jpg);
	position: absolute;
    display: none;
}

/*Mask*/

.canvas_mask {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: none; /*to be triggered by js*/
}
.mask_notice {
	margin-top: 5%;
	text-align: center;
	height: 88px;
	font-size: 32px;
	line-height: 44px;
	color: white;
	font-weight: bold;
	z-index: 0;
}
.post_preview {
	position: absolute;
	opacity: 0.6;
	padding: 5px;
	border: 3px dashed #FFF;
	border-radius: 4px;
	z-index: 1;
    display: none;
}
.post_preview_origin_spot {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 8px;
	background-color: #FFF;
	z-index: 2;
}

/*Arrow*/

.arrow_control{
    background-image: url(arrow.png);
    width: 120px;
    height: 40px;
    position: absolute;
}

.arrow_control:hover {
    background-image: url(arrow_active.png);
}

.arrow_control[title="up"] {
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.arrow_control[title="left"] {
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
}

.arrow_control[title="right"] {
    right: -35px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
}

.arrow_control[title="down"] {
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
}