html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  font-family: Oxygen;
}

#title_bar {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  border-bottom: 5px solid #024d61;
  position: relative;
  z-index: 3; }

#topic_image_container {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 60px;
  height: 60px;
  background: #024d61;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-radius: 5px;
  -o-radius: 5px;
  -ms-radius: 5px;
}

#topic_image_container img {
  float: left;
  padding: 5px;
  width: 50px;
  height: 50px; }

#topic_image_right_caret {
  position: relative;
  left: 60px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #024d61;
  border-bottom: 6px solid transparent; }

#topic_title {
  float: left;
  color: #024d61;
  font-size: 14pt;
  margin-left: 80px;
  padding-top: 10px; }

#accout_container {
  float: right;
}

.account_item {
  float: left; }

#user_info_container {
  margin-top: 2px;
  color:#024d61;
  margin-right: 10px;
}

#username_text {
  float: right;
  cursor: pointer; }

#settings_logout_buttons_container {
  clear: right; }

#profile_image_container {
  float: left;
  margin-top: 2px;
  width: 36px;
  height: 36px;
  background: #024d61;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-radius: 5px;
  -o-radius: 5px;
  -ms-radius: 5px; }

#profile_image_container img {
  float: left;
  padding: 3px;
  width: 30px;
  height: 30px; }

#profile_image_left_caret {
  position: relative;
  left: -5px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 6px solid #024d61;
  border-bottom: 4px solid transparent; }

.accout_button {
  color: #024d61;
  float: left;
  font-size: 10pt;
  cursor: pointer; }

#accout_button_delimeter {
  margin-left: 6px;
  margin-right: 6px; }

#function_button_container {
  margin-left: 10px;
}

.function_button {
  float: left;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@keyframes notification_wrapper
{
  0% {transform: scale(0.8);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}
@-webkit-keyframes notification_wrapper /* Safari and Chrome */
{
  0% {-webkit-transform: scale(0.8);}
  80% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1.0);}
}
@-moz-keyframes notification_wrapper /* Firefox */
{
  0% {-moz-transform: scale(0.8);}
  80% {-moz-transform: scale(1.1);}
  100% {-moz-transform: scale(1.0);}
}
@keyframes notification_number
{
  0% {transform: scale(0.8);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}
@-webkit-keyframes notification_number /* Safari and Chrome */
{
  0% {-webkit-transform: scale(0.8);}
  80% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1.0);}
}
@-moz-keyframes notification_number /* Firefox */
{
  0% {-moz-transform: scale(0.8);}
  80% {-moz-transform: scale(1.1);}
  100% {-moz-transform: scale(1.0);}
}


.notificatoin_number_wrapper {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px !important;
  right: 83px !important;
  left: auto !important;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  display:none;
}
.notification_redCircle {
  position: relative;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f00;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.notification_number_pop_up_wraper_animiation {
  animation: notification_wrapper 0.5s;
  -webkit-animation: notification_wrapper 0.5s; /* Safari and Chrome */
  -moz-animation: notification_wrapper 0.5; /* Firefox */
  display: block;
}

.notification_number_pop_up_animiation {
  animation: notification_number 0.2s;
  -webkit-animation: notification_number 0.2s; /* Safari and Chrome */
  -moz-animation: notification_number 0.2; /* Firefox */
}


.function_button img {
  /* -webkit-filter: brightness(100%); */
}

#switch_board_button img{
  width: 26px;
  height: 18px;
  margin: 11px 7px
}

#message_button img {
  width: 26px;
  height: 18px;
  margin: 11px 7px
}

#search_button img {
  width: 22px;
  height: 22px;
  margin: 9px 9px
}

#popup_button img {
  width: 4px;
  height: 18px;
  margin: 11px 20px;
  margin-right: 4px;
}

#topic_board {
  float: left;
  position: relative;
  top: -45px;
  width: 80%;
  height: 100%; }

#right_panel {
  float: right;
  position: relative;
  top: -45px;
  width: 20%;
  height: 100%;
  background: #ccddbb; }
  
.post_wrap {
  position: absolute;
  background: whitesmoke;
  font-size: 10pt;
  z-index: 0;
  border-top: 3px solid #024d61; 
  border-bottom: 1px solid #024d61; 
  box-sizing: border-box;
  box-shadow: inset 0 0 4px -1px rgba(2, 77, 97, 0.6);
}
  
.post_container {
  padding: 2px 5px;
  padding-bottom: 25px; /* 13px for post_bottom and 6px padding for it */
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; }

.post_top {
  color: #024d61;
  font-size: 10pt;
}

.post_title {
  float: left;
  font-family: OxygenBold; }

.post_author {
  margin-left: 20px; }

.post_pic_content img {
  width: 250px; }

.post_bottom {
  position: absolute;
  width: 100%;
  height: 13px;
  bottom: 6px;  }

.post_icon {
  float: left;
  margin-right: 8px;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center; }

.post_like_icon {
  background-image: url("../images/like_icon.png"); }
  
.post_liked_icon {
  background-image: url("../images/liked_icon.png"); }

.post_like_count {
  float: left;
  margin: 0 6px 0 -14px;
  padding: 1px 5px 1px 9px;
  overflow: hidden;
}

.post_like_count, .post_like_new_count {
  height: 11px;
  font-size: 9px;
  line-height: 11px;
  background: #c0d7dd;
}

.post_like_new_count {
  position: relative;
}
  
.post_share_icon {
  background-image: url("../images/share_icon.png"); }

.post_comment_icon {
  background-image: url("../images/comment_icon.png"); }
  
.post_remove_icon {
  background-image: url("../images/new_delete.png");
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
}
  
/*
  
.post_edit_icon {
  background-image: url("../images/edit_icon.png"); }
  
.post_delete_icon {
  background-image: url("../images/delete_icon.png"); }

*/
  
/*
  
.post_box {
  z-index: 99;
  position: relative;
  left: 100px;
  width: 260px;
  height: 200px; }

.post_box_caret {
  position: relative;
  top: 1px;
  left: 5px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 8px solid #3d7d8e;
  border-bottom: 7px solid transparent; }

.post_box_content {
  position: relative;
  top: -18px;
  left: 12px;
  width: inherit;
  height: inherit; }

.post_box_input_text {
  width: inherit;
  height: 34px;
  background: #3d7d8e; }

.post_box_input_text_area {
  margin-left: 5px;
  width: 240px;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  border: none;
  outline: none;
  color: whitesmoke;
  font-size: 11pt;
  border-bottom: 1px solid whitesmoke; }

.post_box_input_text_area::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.7); }

.post_box_scroll_area {
  width: inherit;
  height: 20px;
  background: #c8e5ed; }

.post_box_scroll_button {
  float: left;
  width: 130px;
  height: inherit; }

.post_box_scroll_button:hover {
  background: #f1f1f1; }

.post_box_scroll_caret {
  position: relative;
  left: 60px;
  top: 6px;
  width: 0;
  height: 0; }

.post_box_scroll_up_caret {
  border-left: 6px solid transparent;
  border-bottom: 8px solid #024d61;
  border-right: 6px solid transparent; }

.post_box_scroll_down_caret {
  border-left: 6px solid transparent;
  border-top: 8px solid #024d61;
  border-right: 6px solid transparent; }

.post_box_comments_list {
  width: inherit;
  height: inherit;
  background: #f1f1f1;
  overflow: hidden; }

.post_box_comment_item {
  padding: 5px; }

.post_box_comment_item:hover {
  background: rgba(200, 229, 237, 0.3);
  cursor: default; }

.post_box_comment_item_username_text {
  font-family: OxygenBold;
  color: #3d7d8e;
  float: left; }

.post_box_comment_item_datetime_text {
  float: right; }

.post_box_comment_item_content_text {
  clear: right;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px; }
  
*/

/* begin: inline comment from fei */

.inl_comment-wrapper {
  font-size: 12px;
  position: absolute;
  width: 230px; }
  
.inl_comment-wrapper .input_up {
  background: url(../images/inline_input_19_30.png) no-repeat;
  height: 19px;
  width: 230px; }
  
.inl_comment-wrapper .input_main {
  margin-left: 10px;
  margin-top: -14px;
  background: #3d7d8e;
  outline: none;
  padding: 0 8px;
  color: #f5f5f5;
  position: relative;
  width: 204px; }
  
.inl_comment-wrapper .input_main.inactive {
  color: #ccc; }

.inl_comment-wrapper .input_low {
  background: url(../images/inline_input_19_30.png) no-repeat;
  background-position: 0 -19px;
  height: 27px;
  width: 230px;
  margin-top: -5px; }

.inl_comment-wrapper .input_low .nav_up {
  margin-top: 11px;
  margin-left: 10px;
  width: 110px;
  height: 15px;
  float: left;
  cursor: pointer;
  background: #c8e5ed; }

  .inl_comment-wrapper .input_low .nav_up .arrow_up {
    width: 0px;
    height: 0px;
    position: relative;
    top:5px;
    left:53px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #024d61;
  }

  .inl_comment-wrapper .input_low .nav_up:hover {
    background: #c8f5ed;
  }
  
.inl_comment-wrapper .input_low .nav_down {
  margin-top: 11px;
  width: 110px;
  height: 15px;
  float: right;
  cursor: pointer;
  background: #c8e5ed; }

  .inl_comment-wrapper .input_low .nav_down .arrow_down {
    width: 0px;
    height: 0px;
    position: relative;
    top:5px;
    left:53px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #024d61;
  }

  .inl_comment-wrapper .input_low .nav_down:hover {
    background: #c8f5ed;
  }

.inl_comment-wrapper .inl_comment {
  margin-top: -1px;
  margin-left: 10px;
  width: 220px;
  max-height: 300px;
  overflow-y: scroll;
  background: #c8e5ed; }


.inl_comment-wrapper .inl_comment .past_comment {
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px; }
 
.inl_comment-wrapper .inl_comment .past_comment .name {
  color: #024d61;
  float: left;
  margin-top: 6px;
  padding: 0px;
  margin-bottom: 6px; }

.inl_comment-wrapper .inl_comment .past_comment .time {
  float: right;
  color: #000;
  margin-top: 6px; 
  margin-bottom: 0px;}

.inl_comment-wrapper .inl_comment .past_comment .comment {
  clear: both;
  margin: 0px;
  padding-bottom: 6px; }

.inl_comment-wrapper .inl_comment .past_comment .main-color {
  color: #024d61; }

/* end */

.viewport_container {
  overflow: hidden;
  position: relative;   
}

.canvas_viewport {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-user-select: none;
  position: relative; 
}

.canvas_viewport::-webkit-scrollbar {
  display: none;
}

.canvas {
  width: 3872px;
  height: 2592px;
  position: absolute;
  background: url(/images/paper_bg.png);
  display: none; }

.post_content {
  position: relative;
  overflow: hidden;
  width: 100%; }

.content_text {
  line-height: 16px;
  width: 100%;
}

.selectable {
  -webkit-user-select: text; }

/*Mask */
.canvas_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3); } /* the magic number is also referneced in postile.view.post_board.post_picker */

.post_preview {
  position: absolute;
  opacity: 0.8;
  box-shadow: inset 0 0 3px 1px rgba(2, 77, 97, 0.8);
  box-sizing: border-box;
  z-index: 1;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: left, top, width, height;
  display: none; }

.post_preview_origin_spot {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: url(/images/guanlun.jpg);
  background-size: 30px 30px;
  background-position: center;
  z-index: 2; }

/*Arrow* */
.right_clicker {
  width: 106px;
  height: 106px;
  background: url(/images/right.png);
  display: none;
  position: absolute; }

.arrow_detect {
  position: absolute;
  background-repeat: no-repeat; }

.arrow_detect.up, .arrow_detect.down {
  width: 100%;
  left: 0;
  height: 50px; }

.arrow_detect.left, .arrow_detect.right {
  height: 100%;
  top: 0;
  width: 50px; }
  

.arrow_detect.up, .arrow_detect.down .arrow_button {
  top: 0; }

.arrow_detect.down, .arrow_detect.up .arrow_button {
  bottom: 0; }

.arrow_detect.left, .arrow_detect.right .arrow_button {
  left: 0; }

.arrow_detect.right, .arrow_detect.left .arrow_button {
  right: 0; }

.arrow_covering {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute; }

.arrow_detect .arrow_button {
  overflow: hidden;
  position: absolute;
  display: none; }

.arrow_detect .arrow_button div {
  position: absolute; }

.arrow_detect.up .arrow_button, .arrow_detect.down .arrow_button, .arrow_detect.up .arrow_button div, .arrow_detect.down .arrow_button div {
  width: 120px;
  height: 40px; }

.arrow_detect.left .arrow_button, .arrow_detect.right .arrow_button, .arrow_detect.left .arrow_button div, .arrow_detect.right .arrow_button div {
  width: 40px;
  height: 120px; }

.arrow_detect.up .arrow_button {
  background: url(/images/arrow_sm_up.png); }

.arrow_detect.up .arrow_button div {
  background: url(/images/arrow_sm_up_hover.png); }

.arrow_detect.down .arrow_button {
  background: url(/images/arrow_sm_down.png); }

.arrow_detect.down .arrow_button div {
  background: url(/images/arrow_sm_down_hover.png); }

.arrow_detect.left .arrow_button {
  background: url(/images/arrow_sm_left.png); }

.arrow_detect.left .arrow_button div {
  background: url(/images/arrow_sm_left_hover.png); }

.arrow_detect.right .arrow_button {
  background: url(/images/arrow_sm_right.png); }

.arrow_detect.right .arrow_button div {
  background: url(/images/arrow_sm_right_hover.png); }

/* linked_post */

.post_mark_linked, .post_mark_linked_low {
    position: absolute;
    top: -21px;
    height: 21px;
    right: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #F6F6F6;
    background: #024d61 url(/images/link.png) 4px 4px no-repeat;
    padding: 0 4px 0 21px;
    line-height: 21px;
    font-size: 10pt;
}

.post_mark_linked_low {
    background-color: #666;
}

/*
@ (at)
*/
.at_box {
    border: 3px solid #024d61;
}

.at_single {
    width: 150px;
    height: 45px;
    padding: 6px;
    background: #FFF;
}

.at_image {
    float: left;
    height: 45px;
    width: 45px;
}

.at_name {
    float: left;
    color: #024d61;
    height: 45px;
    width: 100px;
    padding-left: 5px;
}

.at_single:hover {
    background: #024d61;
}

.at_single:hover .at_name {
    color: #FFF;
}

.at-hint {
    background: #FFF;
    width: 150px;
    padding: 6px;
}
