html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#title_bar {
  width: 100%;
  height: 40px;
  border-bottom: 5px solid #024d61;
  z-index: 500;
  min-width: 1000px;

  /**
   * Sheety board uses real scrolling so this is needed.
   * WARNING: #title_bar's real height (45px) is hard coded in several places:
   * this-file:#viewport_container, sheety.js:Sheety and somewhere else.
   * Edit with caution.
   */
  position: fixed;
}

#topic_inner_container {
    width: 100%;
    height: 100%;
    position: relative;
    background: whitesmoke;
    z-index: 500;
}

#topic_image_outer {
  position: absolute;
  left: 5px;
  top: 5px;
}

#topic_image_container {
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #024d61;
  cursor: pointer;

  box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  /* XXX closure-stylesheet
  -o-box-shadow: 0px 0px 4px #000;
  -ms-box-shadow: 0px 0px 4px #000;
   */
}

#topic_image_container .topic_image {
  float: left;
  width: 50px;
  height: 50px; 
  background-size: cover;
  background-position: center;
}

#topic_image_right_caret {
  position: relative;
  left: 55px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #024d61;
  border-bottom: 6px solid transparent; }

#topic_image_tip {
    position: relative;
    left: 62px;
    top: -30px;
    display: none;
}

#topic_image_outer:hover #topic_image_tip {
    display: block;
}

#topic_image_tip_arrow {
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-right: 8px solid black;
    border-bottom: 6px solid transparent;
}

#topic_image_tip_text {
    white-space: nowrap;
    background: black;
    font-size: 10pt;
    padding: 2px 5px;
    color: whitesmoke;
}

#topic_title {
  float: left;
  color: #024d61;
  font-size: 14pt;
  margin-left: 80px;
  padding-top: 10px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#topic_description {
    float: left;
    margin-top: 16px;
    font-size: 10pt;
    margin-left: 10px;
}

/*
#title_bar_toast_container {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 20px;
    padding: 5px 70px;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
    z-index: 499;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/

#account_container {
  float: right;
  position: relative;
}

.account_item {
  float: right; }

#user_info_container {
  color:#024d61;
  margin-right: 10px;
}

#username_text {
  float: right;
  cursor: pointer;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#settings_logout_buttons_container {
  clear: right;
  font-size: 10pt;
}

#settings_button {
  cursor: pointer;
}

.account_login_button {
  padding: 4px 8px;
  background: #024d61;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
  font-size: 14px;
}

.account_login_button:hover {
  background: #436b77;
}

#profile_image_container {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  padding: 3px;
  background: #024d61;
  cursor: pointer;
}

#profile_image_container .image {
  float: right;
  width: 30px;
  height: 30px; 
  background-size: cover;
  background-position: center;
}

#profile_image_left_caret {
  position: relative;
  left: -8px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 6px solid #024d61;
  border-bottom: 4px solid transparent; }

.accout_button {
  color: #024d61;
  float: left;
  font-size: 10pt;
  cursor: pointer; }

#accout_button_delimeter {
  margin-left: 6px;
  margin-right: 6px; }

.function_button {
  width: 40px;
  height: 40px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.function_button .pop_tip {
    position: relative;
    left: -15px;
    top: -10px;
    z-index: 102;
    display: none;
}

.function_button .pop_tip .tip_arrow {
    position: absolute;
    left: 30px;
    top: -6px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid black;
}

.function_button .pop_tip .tip_text {
    position: absolute;
    white-space: nowrap;
    padding: 2px 5px;
    background: black;
    color: whitesmoke;
    font-size: 10pt;
}

.function_button:hover .pop_tip {
  display: table-cell;
}

/*
 * XXX: closure-stylesheet doesn't know @keyframes
 *
@keyframes notification_wrapper
{
  0% {transform: scale(0.8);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}
 */
@-webkit-keyframes notification_wrapper /* Safari and Chrome */
{
  0% {-webkit-transform: scale(0.8);}
  80% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1.0);}
}
@-moz-keyframes notification_wrapper /* Firefox */
{
  0% {-moz-transform: scale(0.8);}
  80% {-moz-transform: scale(1.1);}
  100% {-moz-transform: scale(1.0);}
}
/*
@keyframes notification_number
{
  0% {transform: scale(0.8);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}
*/
@-webkit-keyframes notification_number /* Safari and Chrome */
{
  0% {-webkit-transform: scale(0.8);}
  80% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1.0);}
}
@-moz-keyframes notification_number /* Firefox */
{
  0% {-moz-transform: scale(0.8);}
  80% {-moz-transform: scale(1.1);}
  100% {-moz-transform: scale(1.0);}
}


.notification_number_wrapper {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px !important;
  right: 26px !important;
  left: auto !important;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  display:none;
}
.notification_redCircle {
  position: relative;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f00;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.notification_number_pop_up_wraper_animiation {
  animation: notification_wrapper 0.5s;
  -webkit-animation: notification_wrapper 0.5s; /* Safari and Chrome */
  -moz-animation: notification_wrapper 0.5; /* Firefox */
  display: block;
}

.notification_number_pop_up_animiation {
  animation: notification_number 0.2s;
  -webkit-animation: notification_number 0.2s; /* Safari and Chrome */
  -moz-animation: notification_number 0.2; /* Firefox */
}


.function_button img {
  /* -webkit-filter: brightness(100%); */
}

#switch_board_button img{
  width: 26px;
  height: 18px;
  margin: 11px 7px
}

#message_button img {
  width: 26px;
  height: 18px;
  margin: 11px 7px
}

#search_button img {
  width: 22px;
  height: 22px;
  margin: 9px 9px
}

#popup_button img {
  width: 4px;
  height: 18px;
  margin: 11px 20px;
  margin-right: 4px;
}

#topic_board {
  float: left;
  position: relative;
  top: -45px;
  width: 80%;
  height: 100%; }

#right_panel {
  float: right;
  position: relative;
  top: -45px;
  width: 20%;
  height: 100%;
  background: #ccddbb; }
  
.viewport_container {
  overflow: hidden;
  position: relative;   
  /* To be kept in sync with title_bar's total height. */
  top: 45px;
}

.canvas_viewport {
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* XXX closure-stylesheet
  user-select: none;
   */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  position: relative; 
}

.canvas_viewport::-webkit-scrollbar {
  display: none;
}

.canvas {
  width: 10000px;
  height: 8000px;
  position: absolute;
  background: url(/images/noisy_grid.png);
  display: none; }

.post_content {
  position: relative;
  /* overflow: hidden; */
  line-height: 140%;
  width: 100%; 
  cursor: default;
}

.selectable {
  /* XXX closure-stylesheet
  user-select: text;
   */
  -moz-user-select: text;
  -webkit-user-select: text;
}

/*Mask */
.canvas_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 400;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3); } /* the magic number is also referneced in postile.view.post_board.post_picker */

.mask_hint {
  color: #FFF;
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
}

div.post_preview_text {
  margin-top: 45%;
  text-align: center;
}
  
.post_preview {
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  box-shadow: inset 0 0 3px 1px rgba(2, 77, 97, 0.8);
  box-sizing: border-box;
  z-index: 100;
  transition-duration: 0.3s;
  transition-property: left, top, width, height;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: left, top, width, height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: left, top, width, height;
  font-size: 11px;
  text-align: center;
  display: none; }

.post_preview_origin_spot {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: url(/images/guanlun.jpg);
  background-size: 30px 30px;
  background-position: center;
  z-index: 100; }

/*Arrow* */
.right_clicker {
  width: 106px;
  height: 106px;
  background: url(/images/right.png);
  display: none;
  z-index: 1000;
  position: absolute; }

.arrow_detect {
  position: absolute;
  z-index: 1000;
  background-repeat: no-repeat; }

.arrow_detect.up, .arrow_detect.down {
  width: 100%;
  left: 0;
  height: 50px; }

.arrow_detect.left, .arrow_detect.right {
  height: 100%;
  top: 0;
  width: 50px; }
  

.arrow_detect.up, .arrow_detect.down .arrow_button {
  top: 0; }

.arrow_detect.down, .arrow_detect.up .arrow_button {
  bottom: 0; }

.arrow_detect.left, .arrow_detect.right .arrow_button {
  left: 0; }

.arrow_detect.right, .arrow_detect.left .arrow_button {
  right: 0; }

.arrow_covering {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute; }

.arrow_detect .arrow_button {
  overflow: hidden;
  position: absolute;
  display: none; }

.arrow_detect .arrow_button div {
  position: absolute; }

.arrow_detect.up .arrow_button, .arrow_detect.down .arrow_button, .arrow_detect.up .arrow_button div, .arrow_detect.down .arrow_button div {
  width: 120px;
  height: 40px; }

.arrow_detect.left .arrow_button, .arrow_detect.right .arrow_button, .arrow_detect.left .arrow_button div, .arrow_detect.right .arrow_button div {
  width: 40px;
  height: 120px; }

.arrow_detect.up .arrow_button {
  background: url(/images/arrow_sm_up.png); }

.arrow_detect.up .arrow_button div {
  background: url(/images/arrow_sm_up_hover.png); }

.arrow_detect.down .arrow_button {
  background: url(/images/arrow_sm_down.png); }

.arrow_detect.down .arrow_button div {
  background: url(/images/arrow_sm_down_hover.png); }

.arrow_detect.left .arrow_button {
  background: url(/images/arrow_sm_left.png); }

.arrow_detect.left .arrow_button div {
  background: url(/images/arrow_sm_left_hover.png); }

.arrow_detect.right .arrow_button {
  background: url(/images/arrow_sm_right.png); }

.arrow_detect.right .arrow_button div {
  background: url(/images/arrow_sm_right_hover.png); }

/* linked_post */

.post_mark_linked, .post_mark_linked_low {
    position: absolute;
    top: -21px;
    height: 21px;
    right: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #F6F6F6;
    background: #024d61 url(/images/link.png) 4px 4px no-repeat;
    padding: 0 4px 0 21px;
    line-height: 21px;
    font-size: 10pt;
}

.post_mark_linked_low {
    background-color: #666;
}
