#top_bar {
    width: 100%;
    height: 3px;
    background-color: #024d61;
}

#welcome_text {
    margin-top: 20px;
    font-size: 18pt;
}

input, button {
    width: 320px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    background-color: #024d61;
    border: 0px;
    outline: none;
    font-size: 12pt;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #ccc;
}