$main-color: #024d61;
$text-color: #eeeeee;
$input-background: #bad1d7;

html, body {
    margin:0px;
    background:$main-color;
    height:100%;

    a:link {
        color: whitesmoke;
    }

    a:visited {
        color: whitesmoke;
    }

    #signup_wrapper {
        color: $text-color;
        font-family:HelveticaNeue;

        #banner {
            margin-left: 70px;
            padding-top: 60px;
            #ln1{
                margin:0px;
                font-size:32px;
                .emph{
                    font-weight: bold;
                }
            }
            #ln2{
                margin:0px;
                margin-top:5px;
                font-size:24px;
            }
        }
        #input_field {
            float:left;
            margin-left:245px;
            margin-top:45px;
            p{
                margin-top:20px;
                margin-bottom:15px;
                font-size:24px;
            }
            input{
                padding: 0px 8px;
                padding-top: 3px;
                font-size:25px;
                background:$input-background;
                border:0px;
                width:725px;
                height:36px;
                font-family: HelveticaNeue;
            }
            #sent_text {
                margin-top: 40px;
                margin-left: 160px;
                display: none;
                #back {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        #btn{
            position: absolute;
            margin-top:210px;
            right: 0px;
            color:$main-color;
            background:#cbdcb8;
            height:210px;
            width:210px;
            cursor: pointer;
            font-size:36px;
            font-weight:bold;
        }

        #contact {
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }
}

