html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke; }

#wrapper {
  width: 100%;
  height: 100%;
  font-family: Oxygen;
  line-height: 120%; }

#title_bar {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  border-bottom: 5px solid #024d61;
  position: relative;
  z-index: 1; }

#topic_image_container {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 60px;
  height: 60px;
  background: #024d61;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-radius: 5px;
  -o-radius: 5px;
  -ms-radius: 5px; }

#topic_image_container img {
  float: left;
  padding: 5px;
  width: 50px;
  height: 50px; }

#topic_image_right_caret {
  position: relative;
  left: 60px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #024d61;
  border-bottom: 6px solid transparent; }

#topic_title {
  float: left;
  color: #024d61;
  font-size: 14pt;
  margin-left: 80px;
  padding-top: 10px; }

#accout_container {
  float: right;
  margin-top: 2px; }

.account_item {
  float: left; }

#user_info_container {
  margin-right: 10px; }

#username_text {
  float: right; }

#settings_logout_buttons_container {
  clear: right; }

#profile_image_container {
  float: left;
  width: 36px;
  height: 36px;
  background: #024d61;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-radius: 5px;
  -o-radius: 5px;
  -ms-radius: 5px; }

#profile_image_container img {
  float: left;
  padding: 3px;
  width: 30px;
  height: 30px; }

#profile_image_left_caret {
  position: relative;
  left: -5px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 6px solid #024d61;
  border-bottom: 4px solid transparent; }

.accout_button {
  color: #024d61;
  float: left;
  font-size: 10pt;
  cursor: pointer; }

#accout_button_delimeter {
  margin-left: 6px;
  margin-right: 6px; }

#function_button_container {
  margin-left: 10px;
  margin-right: 10px; }

.function_button {
  float: left;
  width: 30px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center; }

#message_button {
  background-image: url("../images/message_icon.png"); }

#search_button {
  background-image: url("../images/search_icon.png"); }

#popup_button {
  background-image: url("../images/popup_icon.png"); }

#topic_board {
  float: left;
  position: relative;
  top: -45px;
  width: 80%;
  height: 100%; }

#right_panel {
  float: right;
  position: relative;
  top: -45px;
  width: 20%;
  height: 100%;
  background: #ccddbb; }

.post_item {
  padding: 12px;
  background: whitesmoke;
  position: absolute;
  font-size: 10pt;
  /* border: 1px solid #ddd */
  border-top: 5px solid #024d61;
  box-shadow: inset 0 0 3px rgba(2, 77, 97, 0.6); }

.post_top {
  color: #024d61;
  font-size: 11pt; }

.post_title {
  float: left;
  font-family: OxygenBold; }

.post_author {
  margin-left: 20px; }

.post_content {
  margin-top: 12px; }

.post_pic_content img {
  width: 250px; }

.post_bottom {
  margin-top: 10px; }

.post_icon {
  float: left;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center; }

.post_like_icon {
  background-image: url("../images/like_icon.png"); }

.post_share_icon {
  background-image: url("../images/share_icon.png"); }

.post_link_icon {
  background-image: url("../images/link_icon.png"); }

.post_comment_icon {
  background-image: url("../images/comment_icon.png"); }

.post_more_text {
  float: right;
  color: #024d61; }

.post_box {
  z-index: 99;
  position: relative;
  left: 100px;
  width: 220px;
  height: 200px; }

.post_box_caret {
  position: relative;
  top: 1px;
  left: 5px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 8px solid #3d7d8e;
  border-bottom: 7px solid transparent; }

.post_box_content {
  position: relative;
  top: -18px;
  left: 12px;
  width: inherit;
  height: inherit; }

.post_box_input_text {
  width: inherit;
  height: 32px;
  background: #3d7d8e; }

.post_box_input_text_area {
  width: inherit;
  background: none;
  border: none;
  outline: none;
  color: whitesmoke;
  font-size: 10pt;
  border-bottom: 1px solid whitesmoke; }

.post_box_scroll_area {
  width: inherit;
  height: 20px;
  background: #c8e5ed; }

.post_box_scroll_button {
  float: left;
  width: 110px;
  height: inherit; }

.post_box_scroll_caret {
  position: relative;
  left: 50px;
  top: 6px;
  width: 0;
  height: 0; }

.post_box_scroll_up_caret {
  border-left: 6px solid transparent;
  border-bottom: 8px solid #024d61;
  border-right: 6px solid transparent; }

.post_box_scroll_down_caret {
  border-left: 6px solid transparent;
  border-top: 8px solid #024d61;
  border-right: 6px solid transparent; }

.post_box_comments_list {
  width: inherit;
  height: inherit;
  background: #f1f1f1;
  overflow: hidden; }

.post_box_comment_item {
  padding: 5px; }

.post_box_comment_item:hover {
  background: rgba(200, 229, 237, 0.3);
  cursor: default; }

.post_box_comment_item_username_text {
  font-family: OxygenBold;
  color: #3d7d8e;
  float: left; }

.post_box_comment_item_datetime_text {
  float: right; }

.post_box_comment_item_content_text {
  clear: right;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px; }

#post1 {
  left: 200px;
  top: 300px;
  width: 350px;
  max-height: 180px; }

#post2 {
  left: 650px;
  top: 200px;
  width: 280px; }

#post3 {
  left: 600px;
  top: 480px;
  width: 250px; }
