body {
    background: #024d61;
}

.tutorial_container {
    width: 100%;
    height: 80%;
    padding-top: 5%;
    color: whitesmoke;
    font-family: Play;

    .arrow {
        position: absolute;
        top: 50%;
        margin-top: -80px;
        cursor: pointer;
        width: 0;
        height: 0;
        opacity: 0.2;

        &:hover {
            opacity: 0.5;
        }
    }

    .left_arrow {
        left: 150px;
        border-top: 60px solid transparent;
        border-right: 45px solid whitesmoke;
        border-bottom: 60px solid transparent;
    }

    .right_arrow {
        right: 150px;
        border-top: 60px solid transparent;
        border-left: 45px solid whitesmoke;
        border-bottom: 60px solid transparent;
    }

    .slideshow {
        margin: 0 auto;
        width: 800px;
        overflow: hidden;

        .view_list {
            width: 3200px;

            .view_item {
                float: left;
                width: 800px;
                text-align: center;
                .title {
                    font-family: PlayBold;
                    font-size: 30pt;
                }

                .picture {
                    margin: 20px auto;
                    width: 600px;
                    height: 400px;

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
                
                .description {
                }
            }
        }

    }

    .bottom_container {

        .dot_container {
            position: relative;
            top: 50px;
            width: 100px;
            margin-left: auto;
            margin-right: auto;

            .dot {
                float: left;
                margin-left: 8px;
                width: 12px;
                height: 12px;
                background: whitesmoke;
                opacity: 0.4;
                -webkit-border-radius: 6px;
                cursor: pointer;

                &:first-child {
                    opacity: 1;
                }
            }

        }
    }
}
