/* tis file is for css of upload_image page */
#upload_image_pop {
  background: #f2f2f2;
  height: 240px;
  width: 300px;
  border: 4px solid #aaaaaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #upload_image_pop .upload_drag_board {
    width: 300px;
    height: 240px; }
    #upload_image_pop .upload_drag_board .upload_dummy {
      height: 1px;
      width: 300px; }
    #upload_image_pop .upload_drag_board .upload_content {
      margin: 0px auto;
      width: 125px; }
      #upload_image_pop .upload_drag_board .upload_content .upload_icon {
        margin: 0px auto;
        width: 85px;
        height: 74px;
        background: url(../images/upload_pic.png) no-repeat;
        margin-top: 30px; }
      #upload_image_pop .upload_drag_board .upload_content span.upload_drag_here {
        width: 86px;
        font-size: 20px;
        margin: 10px auto;
        display: block; }
      #upload_image_pop .upload_drag_board .upload_content span.upload_or {
        width: 15px;
        font-size: 10px;
        margin: 10px auto;
        display: block; }
      #upload_image_pop .upload_drag_board .upload_content input {
        width: 75px;
        margin-left: 22px; }
      #upload_image_pop .upload_drag_board .upload_content #upload_target {
        width: 0px;
        height: 0px;
        border: 0px solid #fff; }
    #upload_image_pop .upload_drag_board .upload_preview_wrapper {
      position: relative;
      /*
      width: 280px;
      height: 240px;
      background: url(../images/hot.png);
      */
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
  #upload_image_pop .upload_confirm_pop {
    display: none;
    height: 0px;
    background: #f2f2f2; }
    #upload_image_pop .upload_confirm_pop #upload_repick {
      float: left; }
    #upload_image_pop .upload_confirm_pop .upload_confirm_button {
      margin: 1px 3px;
      cursor: pointer;
      padding: 3px 8px;
      background: #024d61;
      width: 52px;
      height: 12px;
      color: #fff;
      font-size: 12px;
      text-align: center; }
    #upload_image_pop .upload_confirm_pop .upload_sub_confirm_pop {
      float: right; }
      #upload_image_pop .upload_confirm_pop .upload_sub_confirm_pop div {
        float: right; }
