/* tis file is for css of upload_image page */

$main-color:    #024d61;
$upload-background-color: #f2f2f2;
$testing: #aaa;

#upload_image_pop {
	background: $testing;
	height: 240px;
	width: 280px;
	border: 4px solid $testing;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	.upload_drag_board {
		width: 280px;
		height: 240px;


		.upload_dummy {
			height: 1px;
			width: 280px;
		}
		.upload_content {
			//opacity: 0;
			margin: 0px auto;
			width: 125px;

			.upload_icon {
				margin: 0px auto;
				width: 85px;
				height: 74px;
				background: url(../images/upload_pic.png) no-repeat;
				margin-top: 30px;
			}
			span.upload_drag_here {
				width: 86px;	
				font-size: 20px;
				margin: 10px auto;
				display:block;
			}
			span.upload_or {
				width: 15px;	
				font-size: 10px;
				margin: 10px auto;
				display:block;
			}

			div.upload_select_file {
				cursor: pointer;
				margin: 10px auto;
				font-size: 18px;
				color: #fff;
				width: 80px;
				padding: 3px 8px;
				background: $main-color;

			}
		}



		.upload_preview_wrapper {
			position: relative;
			// to be added dynamically
			/*
			width: 280px;
			height: 240px;
			background: url(../images/hot.png);
			*/
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.upload_confirm_pop {
		display: none;
		height: 0px;
		background: $upload-background-color;

		#upload_repick {
			float: left;
		}

		.upload_confirm_button {
			margin: 1px 3px;
			cursor: pointer;
			padding: 3px 8px;
			background: $main-color;
			width: 52px;
			height: 12px;
			color: #fff;
			font-size: 12px;
			text-align: center;
		}

		.upload_sub_confirm_pop {
			float: right;

			div {
				float: right;
			}
		}
	}
}