/* tis file is for css of upload_image page */

$main-color:    #024d61;
$upload-background-color: #f2f2f2;
$testing: #aaa;

#upload_image_pop {
	background: $upload-background-color;
	height: 240px;
	width: 300px;
	border: 4px solid $testing;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	.upload_drag_board {
		width: 300px;
		height: 240px;


		.upload_dummy {
			height: 1px;
			width: 300px;
		}
		.upload_content {
			//opacity: 0;
			margin: 0px auto;
			width: 250px;

			.upload_icon {
				margin: 0px auto;
				width: 85px;
				height: 74px;
				background: url(../images/upload_pic.png) no-repeat;
				margin-top: 30px;
			}
			span.upload_drag_here {
				font-family: playbold;
				width: 125px;	
				font-size: 25px;
				margin: 10px auto;
				display:block;
				color: $main-color;
			}
			span.upload_or {
				color: $main-color;
				width: 20px;	
				font-size: 10px;
				margin: 10px auto;
				display:block;
			}

			.fileinputs {
				margin: 0px auto;
				width: 125px;
				overflow: hidden;
				background: url(../images/select_file_button.png) no-repeat;
			}
			input.file {
				cursor: pointer;
				font-size:999px;
				position: relative;
				text-align: right;
				-moz-opacity:0 ;
				-webkit-opacity:0 ;
				opacity: 0;
			}

			#upload_target {
				width: 0px;
				height: 0px;
				border: 0px solid #fff;
			}
		}



		.upload_preview_wrapper {
			position: relative;
			// to be added dynamically
			/*
			width: 280px;
			height: 240px;
			background: url(../images/hot.png);
			*/
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.upload_confirm_pop {
		display: none;
		height: 0px;
		background: $upload-background-color;

		#upload_repick {
			float: left;
		}

		.upload_confirm_button {
			margin: 1px 3px;
			cursor: pointer;
			padding: 3px 8px;
			background: $main-color;
			width: 52px;
			height: 12px;
			color: #fff;
			font-size: 12px;
			text-align: center;
		}

		.upload_sub_confirm_pop {
			float: right;

			div {
				float: right;
			}
		}
	}
}