/* I am writing this again */

$main-color: #024d61;
$upper-background: #e5e5e5;
$lower-background: #b5b5b5;

@-webkit-keyframes slideDown /* Safari and Chrome */
{
	0%:{top: -10px;}
	100%:{top: 0px;}
}
/* XXX goog-stylesheet
@keyframes slideDown
{
	0%:{top: -10px;}
	100%:{top: 0px;}
}
 */
@-moz-keyframes slideDown /* Safari and Chrome */
{
	0%:{top: -10px;}
	100%:{top: 0px;}
}
@-webkit-keyframes slideUp /* Safari and Chrome */
{
	0%:{top: 130px;}
	100%:{top: 0px;}
}
/* XXX goog-stylesheet
@keyframes slideUp
{
	0%:{top: 130px;}
	100%:{top: 0px;}
}
 */
@-moz-keyframes slideUp /* Safari and Chrome */
{
	0%:{top: 130px;}
	100%:{top: 0px;}
}


#upload_video_pop {
	width: 400px;

	.video_button {
		font-size: 14px;
		background: $main-color;
		width: 68px;
		height: 17px;
		color: #fff;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	.upload_video_upper {
		z-index : 1;
		background: $upper-background;
		width: 400px;
		height: 130px;
		position: relative;
		.info_part {
			margin-top: 15px;
			font-size: 13px;
			color: $main-color;
			margin-left: 30px;
			.link_part {
				margin-left: 15px;
				margin-top: 10px;
				margin-bottom: 10px;
				input.text {
					width: 270px;
				}
			}
		}

		.button_part {
			margin-top: 10px;
			.preview_button {
				float: right;
				margin-right: 15px;
			}
		}
	}

	.upload_video_lower {
		z-index: -1;
		display: none;
		background: $lower-background;
		width: 400px;
		height: 290px;
		position: relative;
		.video_preview{
			width: 300px;
			margin: 15px auto;
		}

		.button_part {
			.reset_button {
				margin-left:110px;
			}
			.cancel_button{
				float: right;
				margin-right: 15px;
				margin-left: 10px;
			}
			.ok_button{
				float: right;
			}
		}
	}

	.upload_video_upper_animation {
		animation: slideUp 1s;
		-webkit-animation: slideUp 1s; /* Safari and Chrome */
		-moz-animation: slideUp 1s; /* Firefox */
	}

	.upload_video_lower_animation {
		display: block;
		animation: slideDown 1s;
		-webkit-animation: slideDown 1s; /* Safari and Chrome */
		-moz-animation: slideDown 1s; /* Firefox */
	}
	.du {
		height: 1px;
	}

}
