<div class = "create_helper_pop">
	<div class = "create_post_button text_post">
		<img src="../images/normal_post.png" alt="text_post" />
        <div class="pop_tip">
            <div class="tip_arrow"></div>
            <div class="tip_text">Write a post</div>
        </div>
	</div>
	<div class = "create_post_button picture_post">
		<img src="../images/photo_upload_icon.png" alt="text_post" />
        <div class="pop_tip">
            <div class="tip_arrow"></div>
            <div class="tip_text">Upload a picture</div>
        </div>
	</div>
	<div class = "create_post_button video_post">
		<img src="../images/video_upload_icon.png" alt="text_post" />
        <div class="pop_tip">
            <div class="tip_arrow"></div>
            <div class="tip_text">Post a video</div>
        </div>
	</div>
</div>
<div class = "create_helper_button">
	Create Post
</div>
