<div class="comment_inner_container">
    <div class="upper_container">
        <span class="comment_name"></span>
        <span class="comment_middle">: </span>
        <span class="comment_content"></span>
    </div>
    <div class="lower_container">
        <span class="comment_like_container">
            <span class="comment_like_heart">♡ </span>
            <span class="comment_like_count"></span>
            <span class="comment_like_dot_1"> &#8901; </span>
            <span class="comment_like_button"></span>
            <span class="comment_like_dot_2"> &#8901; </span>
        </span>
        <span class="comment_time"></span>
        <span class="comment_delete_button">Delete</span>
        <span class="comment_flag_button">Report</span>
    </div>
</div>
<div class="confirm_delete_container">
    <div class="confirm_delete_inner_container">
        <div class="confirm_delete_text">Sure to delete?</div>
        <div class="confirm_delete_button_container">
            <span class="confirm_delete_ok option">Ok</span>
            <span class="confirm_delete_cancel option">Cancel</span>
        </div>
    </div>
</div>
