<div class="post_container">
    <div class="post_inner_container">
        <div class="post_top">
            <span class="post_title"></span>
            <span class="post_author"></span>
        </div>
        <div class="post_middle_container">
            <span class="post_like_container">
                <span class="post_like_count"></span>
                <span class="post_like_button"></span>
            </span>
            <span class="post_edit_button">edit</span>
        </div>
        <div class="post_content"></div>
    </div>
    <div class="post_bottom">
        <div class="comment_preview">
            <span class="comment_preview_author"></span>
            <span class="comment_preview_middle">:&nbsp;</span>
            <span class="comment_preview_content"></span>
        </div>
        <div class="comment_container">
            <div class="comment_list">
                <div class="comment_container_no_comment">
                    no comment yet, be the first one to comment!
                </div>
                <div class="comment_container_items"></div>
            </div>
            <div class="comment_container_bottom">
            </div>
        </div>
    </div>
</div>
