<div class="post-expand">
    <div class="container">
        <div class="left">
            <div class="left-container">
                <div class="title"></div>
                <div class="author"></div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="comment-box">
                <div class="caret"></div>
                <div class="form">
                    <div class="profile-image">
                        <img class='img' />
                    </div>
                    <div class="field">
                        <div class='input' contenteditable='true'></div>
                    </div>
                </div>
            </div>
            <div class="comment-container">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="close-button">CLOSE</div>
    </div>
</div>
