<div class="profile-preview">
    <div class="image-container">
        <div class="left-fold">
            <div class="back-page"></div>
            <div class="front-page"></div>
        </div>
        <div class="picture">
            <img />
        </div>
    </div>
    <div class="info-container">
        <div class="exit-button">
            <div class="x">
                x
            </div>
        </div>
        <div class="top">
            <div class="name">
                Dekai Wu
            </div>
            <div class="signiture">
                <span class="data"></span>
            </div>
        </div>
        <div class="bottom">
            <div class="item-container">
            </div>
            <div class="self-intro">
                <span class="data"></span>
            </div>
        </div>
    </div>
</div>
