<div class="profile-preview">
    <div class="image-container">
        <div class="left-fold">
            <div class="back-page"></div>
            <div class="front-page"></div>
        </div>
        <div class="picture">
            <img />
        </div>
    </div>
    <div class="info-container">
        <div class="exit-button">
            <div class="x">
                x
            </div>
        </div>
        <div class="top">
            <div class="name">
                Dekai Wu
            </div>
            <div class="signiture editable">
                <span class="data"></span>
            </div>
        </div>
        <div class="bottom">
            <div class="item-container">
                <!--
                <div class="item editable">
                    <div class="icon"><img src="images/profile-preview/work-icon.png" /></div>
                    <div class="text">Working at <span class="data">Postiles</span></div>
                    <div class="edit">Edit</div>
                </div>
                <div class="item editable">
                    <div class="icon"><img src="images/profile-preview/work-icon.png" /></div>
                    <div class="text">Attends <span class="data">HKUST</span></div>
                    <div class="edit">Edit</div>
                </div>
                <div class="item editable">
                    <div class="icon"><img src="images/profile-preview/work-icon.png" /></div>
                    <div class="text">Lives in <span class="data">Hong Kong</span></div>
                    <div class="edit">Edit</div>
                </div>
                <div class="item editable">
                    <div class="icon"><img src="images/profile-preview/work-icon.png" /></div>
                    <div class="text">From <span class="data">Shenzhen</span></div>
                    <div class="edit">Edit</div>
                </div>
                <div class="item editable">
                    <div class="icon"><img src="images/profile-preview/work-icon.png" /></div>
                    <div class="text">In a relationship with <span class="data">求别说</span></div>
                    <div class="edit">Edit</div>
                </div>
                -->
            </div>
            <div class="self-intro editable">
                <span class="data"></span>
            </div>
        </div>
    </div>
</div>
