<div class="profile-preview">
    <div class="image-container">
        <div class="left-fold">
            <div class="back-page"></div>
            <div class="front-page"></div>
        </div>
        <div class="picture">
            <img />
        </div>
    </div>
    <div class="info-container">
        <div class="top">
            <div class="username">
                <span class="data"></span>
            </div>
            <div class="signiture">
                <!-- <span class="title">Signiture: </span> -->
                <span class="data"></span>
            </div>
        </div>
        <div class="bottom">
            <div class="item-container">
            </div>
            <div class="self-intro">
                <!-- <div class="title">Self introduction: </div> -->
                <span class="data"></span>
            </div>
        </div>
    </div>
</div>
