<div class="star_arror_right"> </div>
<div id="star_header">
	<p> Starred </p>
	<div id="star_search_module"> 
		<div class="search_icon"></div>
		<input class="search_input_field" placeholder="Find Below" />
	</div>
</div>

<div id="star_list">
	<!-- Remember to write different format of stars -->
	<div class="star_item">
		<div class="star_upper main_div">
			<span class="star_post_name">董先生当特首.. </span>
			<span class="news_in_starred">13</span>
			<span class="star_type post"> Post </span>

		</div>

		<div class="star_middle main_div">
			江主席，你觉得董先生当特首好不好哇？
		</div>

		<div class="star_lower main_div">
			<span> by </span> <span class="author"> toosimple </span> <span class = "star_time">at 7:35pm</span>
		</div>
	</div>

	<div class="star_item">
		<div class="star_upper main_div">
			<span class="star_post_name">民办教师 </span>
			<span class="news_in_starred">2</span>
			<span class="star_type topic"> Topic </span>

		</div>

		<div class="star_middle main_div">
			少将关于中国民办教师的深刻讨论。
		</div>

		<div class="star_lower main_div">
			<span> by </span> <span class="author"> toosimple </span> <span class = "star_time">at 7:35pm</span>
		</div>
	</div>

	<div class="star_list_see_more">
		<p> SEE MORE </p>
	</div>
</div>
