<div id="user_info_container" class="account_item">
    <div id="username_text"></div>
    <div id="settings_logout_buttons_container">
        <div id="settings_button" class="accout_button">
            CHANGE PASSWORD
        </div>
        <div id="accout_button_delimeter" class="accout_button">
            |
        </div>
        <div id="logout_button" class="accout_button">
            LOGOUT
        </div>
    </div>
</div>
<div id="profile_image_container" class="account_item">
    <img class='image' />
    <div id="profile_image_left_caret"></div>
</div>
<div id="function_button_container" class="account_item">
    <div id="switch_board_button" class="function_button">
        <addr title="Switch Discussion Board">
            <img src='/images/switch_board_icon.png' />
        </addr>
    </div>
    <div id="message_button" class="function_button">
        <addr title="See Messages">
            <img src='/images/message_icon.png' />
        </addr>
    </div>
    <div id="search_button" class="function_button">
        <addr title="Search for content">
            <img src='/images/search_icon.png' />
        </addr>
    </div>
    <div id="popup_button" class="function_button">
        <addr title="More Options in This Board">
            <img src='/images/popup_icon.png' />
        </addr>
    </div>
</div>
