<div class="container">
    <div class="left">
        <div class="title">Discussion boards in this topic<div class="add">+ ADD BOARD</div></div>
        <div class="clear"></div>
    </div>
    <div class="right">
        <div class="title">To view the board title</div>
        <div class="count">To view the post count</div>
        <div class="desc">To view the board description</div>
        <div class="button">GO TO THIS BOARD</div>
        <div class="clear"></div>
        <div class="posts_title">Recent posts</div>
        <div class="posts">
        </div>
    </div>
    <div class="clear"></div>
</div>