<div class="container">
    <div class="left">
        <div class="title">2013香港科技大学内地生毕业论坛<div class="add">+ ADD BOARD</div></div>
        <div class="subtitle_incognito">[匿名] Incognito boards</div>
        <div class="clear"></div>
        <div class="subtitle_public">[实名] Real name boards</div>
        <div class="clear"></div>
    </div>
    <div class="right">
        <div class="title">To view the board title</div>
        <div class="count">To view the post count</div>
        <div class="like">To like the post</div>
        <div class="perspective">To see the perspective</div>
        <div class="clear"></div>
        <div class="desc">To view the board description</div>
        <div class="button">GO TO THIS BOARD</div>
        <div class="clear"></div>
        <div class="posts_title">Recent posts</div>
        <div class="posts">
        </div>
    </div>
    <div class="clear"></div>
</div>
