<div class="container">
    <div class="left">
        <div class="title">Discussion boards in this topic<div class="add">+ ADD BOARD</div></div>
        <!--
        <div class="single">
            <img src="about: blank" />
            <div class="meta">
                <div class="subject">A title</div>
                <div class="desc">A description</div>
                <div class="info"><span class="created">flyingyufei</span><span class="count">13 posts</span></div>
            </div>
            <div class="clear"></div>
        </div>
        -->
        <div class="clear"></div>
    </div>
    <div class="right">
        <div class="title">To view the board title</div>
        <div class="count">To view the post count</div>
        <div class="desc">To view the board description</div>
        <div class="button">GO TO THIS FUCKING BOARD</div>
        <div class="clear"></div>
        <div class="posts_title">Recent posts</div>
        <div class="posts">
            <div class="one_recent_post">
                <div class="ball"></div>
                    <div class="subject">Section 8 housing</div>
                    <div class="author">by Billy Liu<small>7:30 pm</small></div>
                    sfdvjnskdfgndfkj ngvdklfxvcjndkxfjnvsk fjlvnsdkfnvsedkfvn dfjkbjnsfkgjbnskj sfkgjbnskj sfkgjbnskj sfkgjbnskjsfkgjbnskj sfkgjbnskj sfkgjbnskj sfkgjbnskjsfkgjbnskjsfkgjbnskj sfkgjbnskj sfkgjbnskj
            </div>
            <div class="one_recent_post">
                <div class="ball"></div>
                    <div class="subject">Section 8 housing</div>
                    <div class="author">by Billy Liu<small>7:30 pm</small></div>
                    sfdvjnskdfgndfkj ngvdklfxvcjndkxfjnvsk fjlvnsdkfnvsedkfvn dfjkbjnsfkgjbnskj sfkgjbnskj sfkgjbnskj sfkgjbnskjsfkgjbnskj sfkgjbnskj sfkgjbnskj sfkgjbnskjsfkgjbnskjsfkgjbnskj sfkgjbnskj sfkgjbnskj
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>