<div id="wrapper">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <div id="mid-container">
        <div id="postile-title">
            <img src="images/login/title.png" />
        </div>
        <div id="login-container">
            <div id="back-pages-container">
                <div class="back-page" id="page-1"></div>
                <div class="back-page" id="page-2"></div>
                <div class="back-page" id="page-3"></div>
            </div>

            <div id="sign-up-button">
                Sign Up
            </div>

            <div id="login-form-container">
                <div id="login-form-fold"></div>
                <div class="text-container">
                    <div class="welcome-text">
                        Welcome
                    </div>
                    <div class="sub-text">
                        Ideas for Linking
                    </div>
                </div>
                <div class="login-fields">
                    <form action="" method="post" accept-charset="utf-8">
                        <div class="group">
                            <label for="email">Email</label><br />
                            <input type="text" name="email"><br />
                        </div>
                        <div class="group">
                            <label for="password">Password</label><br />
                            <input type="password" name="password"><br />
                        </div>
                        <div class="incorrect">
                            Your email or password might be incorrect.
                        </div>
                        <div class="forgot-password">
                            <span>Forgot your password?</span>
                        </div>
                    </form>
                </div>
            </div>

            <div id="login-button-container">
                <div class="link-to-button"></div>
                <div class="login-button">
                    <div class="button-back">
                        <div class="button-inner">
                            <img class="foreground" src="images/login/login-button.png" />
                        </div>
                    </div>
                    <div class="text">ENTER</div>
                </div>
            </div>

            <div id="external-login-container">
                <div id="external-login-fields-container">
                    <div class="login-form-container">
                        <div class="login-title">
                            Twitter Account
                        </div>
                        <div class="login-fields-container">
                            <div class="group">
                                <label for="external-account">Account</label>
                                <input type="text" name="account">
                            </div>
                            <div class="group">
                                <label for="external-password">Password</label>
                                <input type="password" name="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-container">
                    <span class="text">or log in with</span>
                    <div class="icons">
                        <span id="twitter-icon" class="external-icon">
                            <img src="images/login/twitter-icon.png" />
                        </span>
                        <span id="gplus-icon" class="external-icon">
                            <img src="images/login/gplus-icon.png" />
                        </span>
                        <span id="rss-icon" class="external-icon">
                            <img src="images/login/rss-icon.png" />
                        </span>
                        <span id="linkedin-icon" class="external-icon">
                            <img src="images/login/linkedin-icon.png" />
                        </span>
                        <span id="facebook-icon" class="external-icon">
                            <img src="images/login/facebook-icon.png" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-nav">
            <span class="item">BLOG</span>
            <span class="delimeter"></span>
            <span class="item">JOBS</span>
            <span class="delimeter"></span>
            <span class="item">FAQ</span>
            <span class="delimeter"></span>
            <span class="item">TERMS&nbsp;&nbsp;OF&nbsp;&nbsp;USE</span>
            <span class="delimeter"></span>
            <span class="item">PRIVACY&nbsp;&nbsp;POLICY</span>
        </div>
    </div>
</div>
