<div id="topic_inner_container">
    <div id="topic_image_outer">
        <div id="topic_image_container">
            <div class='topic_image'></div>
            <div id="topic_image_right_caret"></div>
        </div>
        <div id="topic_image_tip">
            <div id="topic_image_tip_arrow"></div>
            <div id="topic_image_tip_text">
                Back to Gateway
            </div>
        </div>
    </div>
    <div id="topic_title"></div>
    <div id="topic_description"></div>
</div>
<div id="title_bar_toast_container"></div>
