<div id="wrapper">
    <div id="title_bar">
        <!--
        <div id="topic_image_container">
            <img src="images/leaf.jpeg">
            <div id="topic_image_right_caret"></div>
        </div>
        -->
        <div id="topic_title">
            What is the meaning of life?
        </div>
        <div id="accout_container">
            <div id="user_info_container" class="account_item">
                <div id="username_text">
                    Octocat
                </div>
                <div id="settings_logout_buttons_container">
                    <div id="settings_button" class="accout_button">
                        SETTINGS
                    </div>
                    <div id="accout_button_delimeter" class="accout_button">
                        |
                    </div>
                    <div id="logout_button" class="accout_button">
                        LOGOUT
                    </div>
                </div>
            </div>
            <div id="profile_image_container" class="account_item">
                <img src="images/octocat.jpeg">
                <div id="profile_image_left_caret"></div>
            </div>
            <div id="function_button_container" class="account_item">
                <div id="message_button" class="function_button"></div>
                <div id="search_button" class="function_button"></div>
                <div id="popup_button" class="function_button"></div>
            </div>

            <!-- dropdown menu box for search function -->
            <div id="search_box">
                <div id="search_box_caret"></div>
                <div id="search_box_container">
                    <div id="search_bar">
                        <div id="search_icon"></div>
                        <input id="search_input_field" placeholder="Search any keyword, Topic, Person" />
                        <div id="search_caret"></div>
                    </div>
                    <div id="search_result_container">
                        <div id="search_result_people" class="search_result_category">
                            <div class="search_result_title">People</div>
                            <div class="search_result_content_list">
                              <!-- people search results -->
                            </div>
                        </div>

                        <div id="search_result_topic" class="search_result_category">
                            <div class="search_result_title">Topics</div>
                            <div class="search_result_content_list">
                              <!-- topic search results -->
                            </div>
                        </div>

                        <div id="search_result_post" class="search_result_category">
                            <div class="search_result_title">Posts</div>
                            <div class="search_result_content_list">
                              <!-- post search results -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
