<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xn="http://www.renren.com/2009/xnml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="/js/goog/base.js"></script>
  <script type="text/javascript" src="/js/postile/deps.js"></script>
  <script type="text/javascript" src="/js/postile/user/renren.js"></script>
  <title>Renren Connect</title>
  <script>
    goog.events.listen(window, goog.events.EventType.LOAD, function() {
        postile.renren_connection.init();
    });
  </script>
</head>
<body>
  <xn:login-button autologoutlink="true"></xn:login-button>
  <script type="text/javascript" src="http://static.connect.renren.com/js/v1.0/FeatureLoader.jsp"></script>
  <script type="text/javascript">
    XN_RequireFeatures(["EXNML"], function()
    {
      XN.Main.init("cc9572056f984573a79c0c85a7d45838", "/xd_receiver.html");
    });
</script>
</body>
