<div class="share">
    <div class="header">
    <!-- Title here -->
    </div>
    <div class="content">
    <p>Copy the link below to share</p>
    <input type="text" class="url" readonly />
        <div class="addthis_postile_outer">
            <div class="addthis_postile_prompt">Or</div>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style addthis_postile">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_sinaweibo"></a>
                <a class="addthis_button_delicious"></a>
            </div>
            <div class="clear"></div>
            <!-- AddThis Button END -->
        </div>
    </div>
</div>
