<div id="signup_wrapper">
    <div id = "banner">
        <p id="ln1">Hello! Welcome to <span class="emph">POSTILES</span>.com</p>
        <p id="ln2">We're still in beta version, sign up to get an invitation.</p>
    </div>
    <div id = "input_field">
        <p>Name</p>
        <input type="text" id="username" placeholder="(请使用中文真实姓名)"/>
        <p>Email</p>
        <input type="text" id="email" placeholder="(Use HKUST email if possible)"/>
        <p>Why are you joining us in beta?</p>
        <input type="text" id="reason" placeholder="(optional)"/>
        <div id="sent_text">
            Thanks! Your request will be processed as soon as possible.
            <span id="back">Go back</span>
        </div>
    </div>
    <div id="btn">GET INVITATION</div>
    <div id="contact">
        If you have any questions, please contact us at 
        <a href='mailto:postiles.admin@postiles.com'>postiles.admin@postiles.com</a>
    </div>
</div>
