<div id="wrapper">
    <link rel="stylesheet" type="text/css" href="/css/sign_up.css" />
    <div id="top_bar"></div>
    <div id="welcome_text">Welcome to Postiles!</div>

    <input id="username_input" type="text" name="username" placeholder="User name" />
    <span id="username_valid" class="valid_indicator"></span><br />

    <input id="email_input" type="text" name="email" placeholder="Email" />
    <span id="email_valid" class="valid_indicator"></span><br />

    <input id="password_input" type="password" name="password" placeholder="Password" />
    <span id="password_valid" class="valid_indicator"></span><br />

    <input id="confirm_password_input" type="password" name="confirm_password" placeholder="Confirm Password" />
    <span id="confirm_password_valid" class="valid_indicator"></span><br />

    <button id="confirm_button">Submit</button>
</div>
