<div id="wrapper">
    <div id = "banner">
        <p id="ln1"> Hi! Welcome to <span class="emph">POSTILES</span>.com</p>
        <p id="ln2"> Please take a few minutes to register and become a part
        of the family</p>
    </div>
    <div id = "input_field">
        <p>First Name</p>
        <input type="text" id="first_name"/>
        <p>Second Name</p>
        <input type="text" id="second_name"/>
        <p>Preferred Name</p>
        <input type="text" id="preferred_name"/>
    </div>
    <div id = "btn">
        <p>NEXT</p>
    </div>
</div>
