<div class="tutorial_container">
    <div class="left_arrow arrow"></div>
    <div class="right_arrow arrow"></div>

    <div class="slideshow">

        <div class="view_list">

            <div class="view_item">
                <div class="title">Getting Started</div>
                <div class="picture">
                    <img src="/images/tutorial/1.png" />
                </div>
                <div class="description">
                    This tutorial will give your a crash course on using Postiles.
                    <div class="highlight">
                        Just a minute and you're ready to go!
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">Creating a Post</div>
                <div class="picture">
                    <img src="/images/tutorial/2.png" />
                </div>
                <div class="description">
                    Create a post by click on "Create Post"
                    <div class="highlight">
                        And share whatever you like!
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">Drag and Release...</div>
                <div class="picture">
                    <img src="/images/tutorial/3.png" />
                </div>
                <div class="description">
                    Drag for an area you want you post to be created.
                    <div class="highlight">
                        Light green shows area is okay.
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">Edit Your Post</div>
                <div class="picture">
                    <img src="/images/tutorial/4.png" />
                </div>
                <div class="description">
                    Write on your post and Ctrl + Enter to submit it
                    <div class="highlight">
                        Or you can just click outside the post and it gets synced automatically!
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">Posting Videos</div>
                <div class="picture">
                    <img src="/images/tutorial/5.png" />
                </div>
                <div class="description">
                    Just enter the link of a video page.
                    <div class="highlight">
                        And you can watch it on our board.
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">Convenient Shorcuts</div>
                <div class="picture">
                    <img src="/images/tutorial/6.png" />
                </div>
                <div class="description">
                    Here you can access the shortcuts.
                    <div class="highlight">
                        Other boards, messages, search
                    </div>
                </div>
            </div>

            <div class="view_item">
                <div class="title">And notice that...</div>
                <div class="picture">
                    <img src="/images/tutorial/7.png" />
                </div>
                <div class="description">
                    All changes are synced to your friends on the board!
                    <div class="highlight">
                        It's all in real-time.
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="bottom_container">
        <div class="dot_container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        </div>
        </div>
    </div>

</div>
