<div style="width: 60%; margin: 0 auto; margin-top: 40px;">
<h3>Postiles alpha tester's console</h3>
Host of rails server (leave blank to reset to default)
<br />
<input type="text" id="dhost" style="width: 100%;" />

<hr />

Port of rails server (leave blank to reset to default)
<br />
<input type="text" id="dport" style="width: 100%;" />

<hr />

Faye location (leave blank to reset to default)
<br />
<input type="text" id="faye" style="width: 100%;" />

<hr/>

Set locale
<select id="locale">
<option value="en">English</option>
<option value="zh_CN">简体</option>
<option value="zh_TW">繁体</option>
</select>

<hr />

Click the button below to save settings and go to board #<input type="text" id="board" value="1" />
<br />
<button id="cng">Save and go</button>
</div>